{% extends templateMain2 %}
{% block title %}
	<h1>
		{% trans %}Theme: {% endtrans %} {{ theme.Title }}
	</h1>
{% endblock %}
{% block content %}
	<table>
		<tbody>
			<tr>
				<th>{% trans %}Submitted by{% endtrans %}</th>
				<td><img width="30" style="margin-right:10px; align: middle;" src="{{ theme.SubmitedBy.gravatar30() }}" /><a href="/Members/{{ theme.SubmitedBy.key() }}">{{ theme.SubmitedBy.fullname() }}</a></td>
			</tr>
			<tr>
				<th>{% trans %}Title{% endtrans %}</th>
				<td>{{ theme.Title }}</td>
			</tr>
			<tr>
				<th>{% trans %}Description{% endtrans %}</th>
				<td>{{ theme.Description }}</td>
			</tr>
			<tr>
				<th>{% trans %}Shared with everyone{% endtrans %}</th>
				<td>{{ theme.isSharedWithEveryone }}</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="buttonBar">
						<ul>
							{% if canEditTheme %}
								<li><a href="/Themes/Theme/Edit/{{ theme.key() }}"><span>{% trans %}Edit theme{% endtrans %}</span></a></li>
							{% endif %}
							<li><a href="/Themes/{{ theme.key() }}/MemberSelect"><span>{% trans %}Select for profile{% endtrans %}</span></a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

