{% extends templateMain2 %}
{% block title %}
	<h1>
		{% trans %}Edit Theme{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	<form method="post" action"."  enctype="multipart/form-data">
		<table>
			{{ form }}
			<tr>
				<th>{% trans %}Background image{% endtrans %}</th>
				<td>
					<input type="file" name="backgroundImageProxy" />
				</td>
			</tr>
			{% if form.instance.is_saved() %}
				<tr>
					<th>{% trans %}Current image{% endtrans %}</th>
					<td>
						<img style="margin-top: 10px" src='/Themes/Theme/BackgroundImage/{{ form.instance.key() }}'>
					</td>
				</tr>
			{% endif %}
			<tr>
				<td></td>
				<td>
					<input type="submit" name="doSave" value="{% trans %}Save{% endtrans %}" />
					{% if theme.is_saved() %}
						<input type="submit" name="doDelete" value="{% trans %}Delete{% endtrans %}" />
					{% endif %}
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
