{% extends templateMain2 %}
{% block title %}
	<h1>
		{% trans %}Themes{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	{% if themes.count!=0 %}
		<table>
			<tbody>
				<tr>
					{% for theme in themes %}
						<td>
							<a href="/Themes/{{ theme.key() }}"><img style="width: 160px; height: 120px;" src="/Themes/Theme/BackgroundImage/{{ theme.key() }}" /></a>
							<div style="margin-top: 5px;">
								<a href="/Members/{{ theme.SubmitedBy.key() }}"><img width="30" style="float: left; margin-right: 5px;" src="{{ theme.SubmitedBy.gravatar30() }}" /></a>
								<a href="/Themes/{{ theme.key() }}" style="font-weight: bold; text-decoration: none;">{{ theme.Title }}</a>{% if theme.isDefault %}({% trans %}default{% endtrans %}){% endif %}
								<br />
								{% trans fullname=theme.SubmitedBy.fullname() %}By {{ fullname }}{% endtrans %}
							</div>
						</td>
						{{ loop.cycle('', '', '</tr><tr>') }}
					{% endfor %}
				</tr>
			</tbody>
		</table>
	{% else %}
		<div>
			{% trans %}Sorry, no themes have been created!{% endtrans %}
		</div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<h3>{% trans%}Options{% endtrans %}</h3>
		<div class="sidebarMenu">
			<ul>
				<li><a href="/Themes/Theme/Edit/">{% trans %}Create a new theme{% endtrans %}</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
