{% extends masterTemplate %}
{% load i18n %}
{% block title %}
	<h1>
		{% trans "Lab request:" %} {{ feature.Title }}
	</h1>
{% endblock %}
{% block content %}
	<table>
		<tbody>
			<tr>
				<th>
					{% trans "Status" %}
				</th>
				<td>
					{% if feature.isDone %}
						<Strong>{% trans "Done!" %}</strong>
					{% else %}
						{% trans "Not done yet!" %}
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>
					{% trans "Type" %}
				</th>
				<td>
					{{ feature.Type }}
				</td>
			</tr>
			<tr>
				<th>
					{% trans "Description" %}
				</th>
				<td>
					{% if feature.markdownDescription %}
						{{ feature.markdownDescription }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>
					{% trans "Votes" %}
				</th>
				<td>
					{{ feature.VoteCount }}
				</td>
			</tr>
		</tbody>
	</table>

	<h2>
		{% trans "Voting members" %}
	</h2>
	<div class="memberList">
		<ul>
			{% for vote in feature.Votes %}
				<li>
					<div class="avatar"><a href="/Member/{{ vote.Member.key }}"><img src="{{ vote.Member.gravatar50 }}" /></a></div>
					<h3>
						<a href="/Member/{{ vote.Member.key }}">{{ vote.Member.fullname }}</a>
					</h3>
					<div class="memberDetails">
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<h3>{% trans "Options" %}</h3>
		{% if not memberHasVotesLeft %}
			<p>
			{% trans "You have no votes left. Members are currently limited to 3 votes." %}
			</p>
		{% endif %}
		<div class="sidebarMenu">
			<ul>
				{% if session.Member.isAdmin %}
					<li><a href="/Labs/Feature/Delete/{{ feature.key }}">{% trans "Delete this request" %}</a></li>
					{% if not feature.isDone  %}
						<li><a href="/Labs/Feature/MarkAsDone/{{ feature.key }}">{% trans "Mark as done" %}</a></li>
					{% endif %}
				{% endif %}
				{% if memberHasVoted and not feature.isDone %}
					<li><a href="/Labs/Feature/RetractVote/{{ feature.key }}">{% trans "Retract my vote!" %}</a></li>
				{% else %}
					{% if memberHasVotesLeft %}
						<li><a href="/Labs/Feature/Vote/{{ feature.key }}">{% trans "Vote for this request!" %}</a></li>
					{% endif %}
				{% endif %}
				<li><a href="/Labs">{% trans "Back to the labs" %}</a></li>
			</ul>
		</div>
	</div>
{% endblock %}