{% load i18n %}
<div id="{{ topic.key }}" class="topic miniMenuContext" style="position: relative; padding: 0px 0px 0px 64px;">
	<div class="memberAvatar" style="position:absolute; top:0px; left:0px;">
		<img style="width: 50px; height: 50px;" src="{{topic.From.gravatar50}}" />
	</div>
	<div class="topic-content" style="position: relative; background: #f0f279; padding: 10px; border-bottom: 2px solid #cacc66; width:484px;">
		<div style="position: absolute; top: 5px; right: 5px; z-index: 1000" class="miniMenuAnchor" id="topic-{{ topic.key }}"></div>
		<h3 style="margin: 0px; padding: 0px;">{{ topic.Title }}</h3>
		<div style="font-size: 1.1em">
			“{{ topic.Body }}”&#160;-&#160;<a style="text-decoration: none; color: #999999;" href="/Members/{{ topic.From.key }}" title="{{ topic.From.fullname }}" >{{ topic.From.Firstname }}</a> 
		</div>
	</div>
</div>