{% load i18n %}
<div class="reply miniMenuContext" style="position: relative; padding: 0px 0px 0px 64px; margin: 5px 0px 0px 0px; width: 580px;">
	<div class="memberAvatar" style="position:absolute; top:0px; right:0px;">
		<img style="width: 30px; height: 30px;" src="{{reply.From.gravatar30}}" />
	</div>
	<div style="position: relative; background: #f1f1f1; padding: 10px; border-bottom: 2px solid #bbbbbb; width:514px;">
		<div style="position: absolute; top: 5px; right: 5px; z-index: 1000" class="miniMenuAnchor" id="reply-{{ reply.key }}"></div>
		<div style="font-size: 1.1em">
			“{{ reply.Body }}”&#160;-&#160;<a style="text-decoration: none; color: #999999;" href="/Members/{{ reply.From.key }}" title="{{ reply.From.fullname }}" >{{ reply.From.Firstname }}</a>
		</div>
	</div>
</div>