{% load i18n %}
{% if parent.has_more_replies %}
	<div class="reply miniMenuContext" style="position: relative; padding: 0px 0px 0px 64px; margin: 5px 0px 0px 0px; width: 580px;">
		<div style="position: relative; background: #f1f1f1; padding: 5px 10px; border-bottom: 2px solid #bbbbbb; width:514px;">
			<div style="font-size: 0.9em">
				<a style="color: #000" href="{{parent.permalink}}" class="lnkShowMoreReplies" id="showMoreReplies-{{ parent.key }}">More replies...</a>
			</div>
		</div>
	</div>
{% endif %}