{% extends "views/template-main-d2.html" %}
{% block pageId %}books{% endblock %}
{% block pageTitle %}{% trans %}Books{% endtrans %}{% endblock %}
{% block title %}
	<h1>
		{% trans %}Books{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	<form method="get">
		<label for="stage">{% trans %}Show{% endtrans %}
		<select name="stage" value="{{ stage }}">
			<option value="">{% trans %}All books{% endtrans %}</option>
			<option value="planning">{% trans %}Books in planning{% endtrans %}</option>
			<option value="drafting">{% trans %}Books in drafting{% endtrans %}</option>
			<option value="writing">{% trans %}Books in writing{% endtrans %}</option>
			<option value="proofing">{% trans %}Books in proofing{% endtrans %}</option>
			<option value="final">{% trans %}Finished books{% endtrans %}</option>
		</select>
		<input type="submit" value="{% trans %}Filter{% endtrans %}" />
	</form>
	<div class="bookList">
		<h2>
			{% trans count=books.count() %}Found {{ count }} books{% endtrans %}
			{% if Stage %}
				which are
				<strong>
					{% if stage=="planning" %} {% trans %} in the planning stage{% endtrans %}{% endif %}
					{% if stage=="drafting" %} {% trans %} in the drafting stage{% endtrans %}{% endif %}
					{% if stage=="writing" %} {% trans %} in the writting stage{% endtrans %}{% endif %}
					{% if stage=="proofing" %} {% trans %} in the proofing stage{% endtrans %}{% endif %}
					{% if stage=="final" %} {% trans %} finished{% endtrans %}{% endif %}
				</strong>
			{% else %}
				in all categories
			{% endif %}
		</h2>
		<div class="bookGallery">
			<table>
			<tr>
			{% for book in books %}
				<td>
				<div class="book">
					<div class="cover">
						<a href="/Books/{{ book.key() }}">
							<img src='/Covers/Thumbnail/{{ book.getCover().key() }}' title="{{ book.Title }}" alt="{{ book.Title }}">
							{% if book.getCover().isReusable %}
								<span class="coverTitle" {% if book.getCover().TitleColor %}style="color: {{ book.getCover().TitleColor }}"{% endif %} >{{ book.Title }}</span> 
							{% endif %}
						</a>
					</div>
					{% if book.Stage=="planning" %}{% trans %}Only planning{% endtrans %}, {% endif %}
					{% if book.Stage=="drafting" %}{% trans %}Still in drafting{% endtrans %}, {% endif %}
					{% if book.Stage=="writing" %}{% trans %}Still in writing{% endtrans %}, {% endif %}
					{% if book.Stage=="proofing" %}{% trans %}Still in proofing{% endtrans %}, {% endif %}
					<br />
					{% trans fullname=book.Author.fullname() %}By {{ fullname }}{% endtrans %}
				</div>
				</td>
				{% if loop.cycle(0, 0, 0, 1)==1 %}
					</tr>
					<tr>
				{% endif %}
			{% endfor %}
			</tr>
			</table>
		</div>
		<div class="clearfix"></div>
	</div>
{% endblock %}
