{% extends "views/template-book.html" %}
{% import 'wrook-macros.html' as wrook %}
{% set section = "book" %}
{% set subSection = "contents" %}
{% block pageId %}books-chapters{% endblock %}
{% block pageTitle %}
	{{ book.Title }}
{% endblock %}

{% block contentTop %}
{% endblock %}

{% block content %}
	<h2>
		{% trans %}Table of Contents{% endtrans %}
	</h2>
	<div class="chapterList">
		<ul>
			{% for chapter in chapters %}
				<li>
					<a href="/ViewChapter/{{ chapter.key() }}">
						{% if chapter.Name %}
							{{ chapter.Name|escape }}
						{% endif %}
						{% if chapter.Title and chapter.Name %}
							:
						{% endif %}
						{% if chapter.Title %}
							{{ chapter.Title|escape }}
						{% endif %}
					</a>
					<span class="stageLabel">
						{% if book.get_short_stage() %}
							- {{ chapter.get_short_stage() }}
						{% endif %}
					</span>
				</li>
			{% endfor %}
		</ul>
		<div class="clearfix"></div>
	</div>
	<br/>
	{% if userCanEdit %}
		{{ wrook.iconButton(label=_("Add chapter"), name="addChapter", icon="add-glow", url="/NewChapter/%s" % book.key()) }}
		{{ wrook.iconButton(label=_("Edit chapter list"), name="editAll", icon="edit-glow", url="/Books/ReorderChapters/%s" % book.key()) }}
	{% endif %}
{% endblock %}

{% block contentBottom %}
	{% call wrook.calls_to_action() %}
		<li class="mainLink"><a href="/ViewChapter/{{ firstChapter.key() }}">
			<span class="bullet spriteIcons icon-main-link"></span><span>{% trans %}Start reading{% endtrans %}</span></a>
		</li>
	{% endcall %}
{% endblock %}

{% block sidebar %}
{% endblock sidebar %}
