{% extends "template-main-d.html" %}
{% load i18n %}
{% block title %}
	<h1>
		{% trans "Edit chapter from " %} {{ chapter.Book.Title }}
	</h1>
{% endblock %}
{% block content %}
	<form method="post">
		<table>
			<tbody>
				{{ form }}
				<tr>
					<td></td>
					<td>
						<input type="submit" name="doSave" value="{% trans 'Save' %}" />
						{% if chapter.is_saved %}
							<input type="submit" name="doDelete" value="{% trans 'Delete' %}" />
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</form>
{% endblock %}
