{% extends "template-main-e.html" %}
{% load i18n %}
{% block title %}
	<h1>
		{{ book.Title }} <span style="font-weight: normal; font-size: 0.7em;"> {% trans "by " %} {{ book.authorName }}</span>
	</h1>
{% endblock %}
{% block content %}
	<h2>
		{% trans "Reorder chapters" %}
	</h2>
	<div class="chapterList">
		<form method="post">
			<table style="width: 500px;">
				<tr>
					<th>
						{% trans 'Label' %}
					</th>
					<th>
						{% trans 'Title' %}
					</th>
					<th>
						{% trans 'Order' %}
					</th>
				</tr>
			{% for chapter in chapters %}
				<tr>
					<td>
						<input type="hidden" name="chapter.{{ chapter.key }}" value="True" />
						<input style="width: 120px" type="text" name="chapter.{{ chapter.key }}.name" value="{{ chapter.Name }}" />
					</td>
					<td>
						<input style="width: 300px" type="text" name="chapter.{{ chapter.key }}.title" value="{{ chapter.Title }}" />
					</td>
					<td>
						<select style="width: 50px" name="chapter.{{ chapter.key }}.order" value="{{ chapter.Number }}">
							{% for number in chapterCount %}
								<option {% ifequal number chapter.Number %}selected="selected"{% endifequal %} value="{{ number }}">{{ number }}</option>
							{% endfor %}
						</select>
					</td>
				</td>
			{% endfor %}
				<tr>
					<td colspan="3">
						<button name="update"><span>{% trans 'Save' %}</span></button>
						<button name="done"><span>{% trans 'Save and done' %}</span></button>
						<span class="formLinks">
							<a href="/Books/{{ book.key }}/Contents">{% trans 'Back' %}</a>
						</span>
					</td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}

