{% extends "views/template-book.html" %}
{% import 'wrook-macros.html' as wrook %}
{% set section = "book" %}
{% set subSection = "overview" %}
{% block pageId %}books-overview{% endblock %}
{% block pageTitle %}
	{{ book.Title }}
{% endblock %}

{% block contentTop %}
	{% if book.Stage!="final" %}
		{{ wrook.notice(title=_("Notice"), body=book.get_verbose_stage()) }}
	{% endif %}
{% endblock %}

{% block content %}

	{% if book.Synopsis %}
		<div class="synopsis">
			"&#160;{{ book.Synopsis|escape }}&#160;"
		</div>
		<script>
			$(document).ready(function(){
				$('.synopsis').expander({
					slicePoint: 200, 
					widow: 4,
					expandEffect: 'fadeIn',
					expandText: '[{% trans %}read more...{% endtrans %}]',
					userCollapseText: '[{% trans %}close{% endtrans %}]',
					userCollapsePrefix: ' ',
					userCollapse: true
				});
			});
		</script>
	{% endif %}
	<br/>
	<div>
		<span>
			{% trans wordcount=book.wordCount() %}
				{{ wordcount }} words
			{% endtrans %}
		</span>
		<span class="sep">-</span>
		<span>
			<a href="/Books/{{ book.key() }}/Contents">
				{% trans chapterCount=book.Chapters.count() -%}
					{{ chapterCount }} chapter
				{%- pluralize -%}
					{{ chapterCount }} chapters
				{%- endtrans %}
			</a>
		</span>
		<span class="sep">-</span>
		<span>
			<a href="/Books/{{ book.key() }}/Readers">
				{% trans readerCount=book.Bookmarks.count() -%}
					{{ readerCount }} reader
				{%- pluralize -%}
					{{ readerCount }} readers
				{%- endtrans %}
			</a>
		</span>
	</div>
		
	<h3>
		{% trans %}License and attribution{% endtrans %}:
	</h3>
	{% if book.License %}
		<div>
			<a href="{{ book.License.URL }}">{{ book.License.Title }}</a>
		</div>
		{% if book.AttribDetailed %}
			<div class="detailedAttribution">
				{{ book.markdownAttribDetailed() }}
			</div>
			<script>
				$(document).ready(function(){
					$('.detailedAttribution').expander({
						slicePoint: 200, 
						widow: 4,
						expandEffect: 'fadeIn',
						expandText: '[{% trans %}read more...{% endtrans %}]',
						userCollapseText: '[{% trans %}close{% endtrans %}]',
						userCollapsePrefix: ' ',
						userCollapse: true
					});
				});
			</script>
		{% endif %}
	{% else %}
		<p>
			{% trans %}No license or copyright has been specified.{% endtrans %}</a>
		</p>
	{% endif %}
		
	
	{% if book.Author.About %}
		<h3>
			{% trans %}Contributed by{% endtrans %}
		</h3>
		<div style="position: relative">
			<div class="avatar" style="float: left; margin: 0px 5px 5px 0px;">
				<a href="/Member/{{ book.Author.key() }}"><img src="{{ book.Author.gravatar50() }}" width="50" height="50" /></a>
			</div>
			<p>
				<a href="/Member/{{ book.Author.key() }}">{{ book.Author.fullname() }}</a>
				<br />
				{{ book.Author.About }}
			</p>
		</div>
	{% endif %}
	<div style="clear:left"></div>
	
	{% if book.NoteFromAuthor %}
		<h3>
			{% trans %}A note from the contributor{% endtrans %}
		</h3>
		<div class="NoteFromAuthor">
			{{ book.NoteFromAuthor|escape }}
		</div>
	{% endif %}

{% endblock %}

{% block contentBottom %}
	{% call wrook.calls_to_action() %}
		<li class="mainLink"><a href="/ViewChapter/{{ firstChapter.key() }}">
			<span class="bullet spriteIcons icon-main-link"></span><span>{% trans %}Start reading{% endtrans %}</span></a>
		</li>
		<li><span class="separator">|</span></li>
		<li><a href="/Member/{{ book.Author.key() }}"><span>{% trans %}Author's profile{% endtrans %}</span></a></li>
	{% endcall %}
{% endblock %}

{% block sidebar %}
		{% if userCanEdit %}
			<div class="sidebarPanel">
				<h3>
					{% trans %}Writing and Editing{% endtrans %}
				</h3>
				<div class="sidebarMenu">
					<ul>
						{% if userIsAuthor %}
							{% if book.lastRevisedChapter() %}
								<li><a href="/Typewriter/{{ book.lastRevisedChapter.key() }}">{% trans %}Resume writing{% endtrans %}</a></li>
							{% endif %}
							<li><a href="/NewChapter/{{ book.key() }}">{% trans %}Start a new chapter{% endtrans %}</a></li>
						{% endif %}
						{% if userCanEdit %}
							<li><a href="/Books/Edit/{{ book.key() }}">{% trans %}Edit book options{% endtrans %}</a></li>
							<li><a href="/Books/Edit/License/{{ book.key() }}">{% trans %}Edit license options{% endtrans %}</a></li>
							<li><a href="/Covers/Select?usage={{ book.Title }}&redirect=/Books/SetCover/{{ book.key() }}">{% trans %}Change book cover{% endtrans %}</a></li>
							<li><a href="/Books/Delete/{{ book.key() }}">{% trans %}Delete whole book{% endtrans %}</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		{% endif %}
		<div class="sidebarPanel">
			<div class="panelContent">
				{% if book.getCover() %}
					<div class="cover width180">
						<img src='/Covers/Thumbnail/{{ book.getCover().key() }}?width=180'>
						{% if book.getCover().isReusable %}
							<span class="coverTitle" {% if book.getCover.TitleColor %}style="color: {{ book.getCover().TitleColor }}"{% endif %} >{{ book.Title }}</span> 
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="sidebarPanel">
			<div class="sidebarMenu">
				<ul>
					<li><a href="/Invites/">{% trans %}Invite a friend{% endtrans %}</a></li>
				</ul>
			</div>
		</div>
{% endblock sidebar %}
