{% load i18n %}


	<h3>
		{% trans "About this book" %}
	</h3>
	<ul>
		<li>
			{{ book.Bookmarks.count }} <a href="/Readers/Book/{{ book.key }}">{% trans "Readers" %}</a>
		</li>
		<li>
			{% blocktrans with book.wordCount as words %}
				{{ words }} words
			{% endblocktrans %}
		</li>
	</ul>

	<h3 id="ChapterList">
		Chapters
	</h3>
	<div class="chapterList">
		<ul>
			{% for chapter in chapters %}
				<li>
					<a href="/ViewChapter/{{ chapter.key }}">
						{% if chapter.Name %}
							{{ chapter.Name|escape }}
						{% endif %}
						{% if chapter.Title and chapter.Name %}
							:
						{% endif %}
						{% if chapter.Title %}
							{{ chapter.Title|escape }}
						{% endif %}
					</a>
					{% ifequal book.Stage "planning" %}({% trans "Planning" %}){% endifequal %}
					{% ifequal book.Stage "drafting" %}({% trans "Drafting" %}){% endifequal %}
					{% ifequal book.Stage "writing" %}({% trans "Writing" %}){% endifequal %}
					{% ifequal book.Stage "proofing" %}({% trans "Proofing" %}){% endifequal %}
				</li>
			{% endfor %}
		</ul>
		<div class="clearfix"></div>
	</div>

