{% extends "views/template-book.html" %}
{% import 'wrook-macros.html' as wrook %}
{% import 'book-macros.html' as bookMacros %}
{% set section = "book" %}
{% set subSection = "overview" %}
{% block pageId %}books-overview{% endblock %}
{% block pageTitle %}
	{{ book.Title }}
{% endblock %}

{% block contentTop %}
	{% if book.Stage!="final" %}
		{{ wrook.notice(title=_("Notice"), body=book.get_verbose_stage()) }}
	{% endif %}
{% endblock %}

{% block content %}
	<div>
		{% if userCanEdit %}
			<div style="margin: 5px 0px;">
				{{ wrook.iconButton(label=_("Edit books details"), name="editDetails", icon="edit-glow", url="/Books/Edit/%s" % book.key()) }}
				{{ wrook.iconButton(label=_("Edit Licensing"), name="editLicensing", icon="edit-glow", url="/Books/Edit/License/%s" % book.key()) }}
			</div>
		{% endif %}
		{% if book.Synopsis %}
			<h2>{% trans %}Synopsis{% endtrans %}</h2>
			<div class="synopsis">
				{{ book.Synopsis|escape }}
			</div>
			{#
			<script>
				$(document).ready(function(){
					$('.synopsis').expander({
						slicePoint: 200, 
						widow: 4,
						expandEffect: 'fadeIn',
						expandText: '[{% trans %}read more...{% endtrans %}]',
						userCollapseText: '[{% trans %}close{% endtrans %}]',
						userCollapsePrefix: ' ',
						userCollapse: true
					});
				});
			</script>
			#}
		{% endif %}

	</div>

	<div style="border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 20px 0px; margin: 20px 0px; line-height: 1.5em;">

			<span>
				{% if AttribAuthorIsAuthor %}
				Original author is <a href="/Members/{{ book.Author.key() }}">{{ book.Author.fullname() }}</a>
				{% else %}
				By {{book.AttribAuthorName}} (Contributed by <a href="/Members/{{ book.Author.key() }}">{{ book.Author.fullname() }}</a>)
				{% endif %}
			</span>
			&#8212;
			<span>
				19XX
			</span>
			&#8212;
			<span>
				Translated from English
			</span>
			&#8212;
			<span>
				<nobr>
				{% trans wordcount=book.wordCount()|int,pagecount=book.pageCount()|int %}
					{{ pagecount }} pages ({{ wordcount }} words)
				{% endtrans %}
				</nobr>
			</span>
			&#8212;
			<span>
				<a href="/Books/{{ book.key() }}/Contents">
					<nobr>
						{% trans chapterCount=book.Chapters.count() -%}
							{{ chapterCount }} Chapter
						{%- pluralize -%}
							{{ chapterCount }} Chapters
						{%- endtrans %}</nobr></a>
			</span>
			&#8212;
			<span>
				<a href="/Books/{{ book.key() }}/Readers">
					<nobr>
						{% trans readerCount=book.Bookmarks.count() -%}
							{{ readerCount }} Reader
						{%- pluralize -%}
							{{ readerCount }} Readers
						{%- endtrans %}</nobr></a>
			</span>

			&#8212;

			{% if book.License %}
				<span>
					{% trans license=book.License %}Licensed under {{license}} {% endtrans %}
				</span>
				{#
				{% if book.AttribDetailed %}
					<div class="detailedAttribution">
						{{ book.markdownAttribDetailed() }}
					</div>
					<script>
						$(document).ready(function(){
							$('.detailedAttribution').expander({
								slicePoint: 200, 
								widow: 4,
								expandEffect: 'fadeIn',
								expandText: '[{% trans %}read more...{% endtrans %}]',
								userCollapseText: '[{% trans %}close{% endtrans %}]',
								userCollapsePrefix: ' ',
								userCollapse: true
							});
						});
					</script>
				{% endif %}
				#}
			{% else %}
				<span>
					{% trans %}Copyright unspecified.{% endtrans %}</a>
				</span>
			{% endif %}

	</div>
	<div style="text-align:center; margin: 20px 0px; color: #999; font-size: 1.1em;">
		{% trans %}Here is the first thousand words of the first chapter...{% endtrans %}
	</div>

	{% if firstChapter %}
		{{ bookMacros.showChapter(firstChapter, onlyFirstWords=True, currentMember=currentMember) }}
	{% endif %}

{% endblock %}

{% block contentBottom %}
{% endblock %}

{% block sidebar %}
		{% if userCanEdit %}
			<div class="sidebarPanel">
				<h3>
					{% trans %}Editing Options{% endtrans %}
				</h3>
				<div class="sidebarMenu">
					<ul>
						{% if userCanEdit %}
							{% if book.lastRevisedChapter() %}
								<li><a href="/Typewriter/{{ book.lastRevisedChapter().key() }}">{% trans %}Resume writing{% endtrans %}</a></li>
							{% endif %}
							<li><a href="/Books/Delete/{{ book.key() }}">{% trans %}Delete whole book{% endtrans %}</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		{% endif %}
		<div class="sidebarPanel">
			<div class="sidebarMenu">
				<ul>
					<li><a href="/Invites/">{% trans %}Invite a friend{% endtrans %}</a></li>
				</ul>
			</div>
		</div>
{% endblock sidebar %}
