{% extends "views/template-book.html" %}
{% import 'wrook-macros.html' as wrook %}
{% set section = "book" %}
{% set subSection = "talk" %}
{% block pageId %}book-talk{% endblock %}
{% block title %}
	<h1>
		{{ book.Title }} <span style="font-weight: normal; font-size: 0.7em;"> {% trans authorName=book.authorName() %}by {{ authorName }}{% endtrans %}</span>
	</h1>
{% endblock %}
{% block content %}
	<h2>
		{% trans %}Recent topics{% endtrans %}
	</h2>
	<div>
		{{ book.render_topics_list() }}
	</div>
	<h2>
		{% trans %}Post a new topic{% endtrans %}
	</h2>
	<div>
		{{ book.render_topic_form() }}
	</div>
{% endblock content %}

{% block sidebar %}
{% endblock %}
