{% extends "template-twoSidebars.html" %}
{% load i18n %}
{% block title %}
	<h1>
		{{ book.Title }} <span style="font-weight: normal; font-size: 0.7em;"> {% trans "by " %} {{ book.authorName }}</span>
	</h1>
{% endblock %}
{% block content %}
	<h2>{% trans "Post a new topic" %}</h2>
	<div>
		{{ book.render_topic_form }}
	</div>
	<h2>{% trans "Recent topics" %}</h2>
	<div>
		{{ book.render_topics_list }}
	</div>
{% endblock content %}

{% block secondarySidebar %}
		{% if book.getCover %}
			<div class="cover flat width180">
				<img src='/Covers/Thumbnail/{{ book.getCover.key }}?width=180'>
				{% if book.getCover.isReusable %}
					<span class="coverTitle" {% if book.getCover.TitleColor %}style="color: {{ book.getCover.TitleColor }}"{% endif %} >{{ book.Title }}</span> 
				{% endif %}
			</div>
		{% endif %}
{% endblock %}

{% block sidebar %}
		<div class="sidebarPanel">
			<h3>{% trans "Options" %}</h3>
			<div class="sidebarMenu">
				<ul>
					<li><a href="/Books/{{ book.key }}">{% trans "Back to the book" %}</a></li>
				</ul>
			</div>
		</div>
{% endblock sidebar %}
