{% extends "template-main.html" %}
{% load i18n %}

{% block pageContent %}
	<div id="pageContent">


		<div class="section">
			<div class="sectionHeader">
				<h1>
					{{ book.Title }} <span style="font-weight: normal; font-size: 0.7em;"> {% trans "by " %} {{ book.authorName }}</span>
				</h1>
			</div>
			<div class="sectionBody">


				{% ifnotequal book.Stage "final" %}
					<div class="notice">
						<strong>{% trans "Notice:" %}</strong>
						{% ifequal book.Stage "planning" %}{% trans "This book is only in the planning stage." %}{% endifequal %}
						{% ifequal book.Stage "drafting" %}{% trans "This book is only a draft." %}{% endifequal %}
						{% ifequal book.Stage "writing" %}{% trans "This book is in the process of being writen." %}{% endifequal %}
						{% ifequal book.Stage "proofing" %}{% trans "This book is still in proofing." %}{% endifequal %}
					</div>
				{% endifnotequal %}
			


				<div class="sectionBodyContent">
					{% include "section-bookInfo.html" %}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="sectionFooter"></div>
		<div class="clearfix"></div>
	
	
		<div class="section">
			<div class="sectionHeader">
				<h1>{% trans "Topics and comments" %}</h1>
			</div>
			<div class="sectionBody">
				<div class="sectionBodyContent">
					<h2>{% trans "Start a topic or leave feedback" %}</h2>
					<div>
						{{ renderedTopicForm }}
					</div>
					<h2>{% trans "Recent topics" %}</h2>
					<div>
						{{ renderedTopics }}
					</div>

					<div class="buttonBar" style="margin-bottom: 10px;">
						<ul>
							<li><a href="/Books/{{ book.key }}/Talk"><span>{% trans "Browse all topics" %}</span></a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="sectionFooter"></div>
		<div class="clearfix"></div>

		<div id="secondarySidebar">
			{% include "books-view-sidebar.html" %}
		</div>

	</div>	

{% endblock %}

{% block sidebar %}
		<div class="sidebarPanel">
			<h3>{% trans "Community" %}</h3>
			<div class="sidebarMenu">
				<ul>
					<li><a href="/Feedback/Book/{{ book.key }}">{% trans "Leave feedback or comments" %}</a></li>
					<li><a href="/Invites/">{% trans "Invite a friend!" %}</a></li>
				</ul>
			</div>
		</div>
		{% if userCanEdit %}
			<div class="sidebarPanel">
				<h3>
					{% trans "Writing and Editing" %}
				</h3>
				<div class="sidebarMenu">
					<ul>
						{% if userIsAuthor %}
							{% if book.lastRevisedChapter %}
								<li><a href="/Typewriter/{{ book.lastRevisedChapter.key }}">{% trans "Resume writing" %}</a></li>
							{% endif %}
							<li><a href="/NewChapter/{{ book.key }}">{% trans "Start a new chapter" %}</a></li>
						{% endif %}
						{% if userCanEdit %}
							<li><a href="/Books/Edit/{{ book.key }}">{% trans "Edit book options" %}</a></li>
							<li><a href="/Books/ReorderChapters/{{ book.key }}">{% trans "Reorder chapters" %}</a></li>
							<li><a href="/Books/Edit/License/{{ book.key }}">{% trans "Edit license options" %}</a></li>
							<li><a href="/Covers/Select?usage={{ book.Title }}&redirect=/Books/SetCover/{{ book.key }}">{% trans "Change book cover" %}</a></li>
							<li><a href="/Books/Delete/{{ book.key }}">{% trans "Delete whole book" %}</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		{% endif %}
{% endblock sidebar %}
