{% extends "template-main-e2.html" %}
{% block title %}
	<h1>
		{% trans %}Edit Book Cover{% endtrans %}
	</h1>
{% endblock %}
{% block content %}

	<form method="post" enctype="multipart/form-data">
		<table>
			<tbody>
				{{ form }}
				<tr>
					<th>
						<label for="thumbnailImageProxy">{% trans %}Thumbnail image{% endtrans %}</label>
					</th>
					<td>
						<input type="file" name="thumbnailImageProxy" />
					</td>
				</tr>
				{% if form.instance.is_saved() %}
					<tr>
						<th>
							{% trans %}Current image{% endtrans %}
						</th>
						<td>
							<img style="margin-top: 10px" src='/Covers/Thumbnail/{{ form.instance.key() }}'>
						</td>
					</tr>
				{% endif %}
				<tr>
					<td></td>
					<td>
						<button name="doSave"><span>{% trans %}Save{% endtrans %}</span></button>
						{% if form.instance.is_saved() %}
							<button name="doDelete"><span>{% trans %}Delete{% endtrans %}</span></button>
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</form>
{% endblock %}
