{% extends "template-customize.html" %}
{% set subSection = "howTo" %}
{% block content %}

	<h2>
		{% trans %}How to customize{% endtrans %}
	</h2>
	<p>
{% trans %}
On Wrook you can customize two things: <a href="/Customize/Wallpapers">wallpapers</a> and the <a href="/Customize/Covers">covers</a> of the books you publish. Wallpapers can be applied to your own profile or applied to a book profile.
{% endtrans %}
	</p>
	<p>
{% trans %}
Aditionnaly, when customizing you content, you can either pick from existing material already shared by other users, or upload your own original content.
{% endtrans %}
	</p>
{% endblock %}
