{% extends "template-main-e2.html" %}
{% block title %}
	<h1>
		{% trans %}Delete a book{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
{% trans %}
<p>
Are you <strong>absolutely</strong> sure that you want to delete this book?
</p>
<p>
This will also delete all chapters, feedback and bookmarks associated with the book.
</p>
<p>
Once delete, it cannot be undeleted.
</p>
{% endtrans %}
	<p>
		<a href="/Books/{{ book.key() }}">{% trans %}Cancel and go back{% endtrans %}</a>
	</p>
	<form method="post">
		<input type="checkbox" value="yes" name="confirmDelete" /><label for="confirmDelete">{% trans %}I have read the warning and confirm{% endtrans %}</label>
		<br/>
		<br/>
		<button type="submit" class="formButton"><span>{% trans %}Delete{% endtrans %}</span></button>
	</form>
{% endblock %}
