{% extends "template-main-e2.html" %}
{% set section = "500" %}
{% block pageId %}http500{% endblock %}
{% block pageTitle %}{% trans %}Sorry... Page not found!{% endtrans %}{% endblock %}
{% block title %}
	<h1>
		{% trans %}Oups!{% endtrans %}
	</h1>
{% endblock %}

{% block content %}

{% trans %}
<h3>
	An error has occured during your last request.
</h3>
<p>
	Sorry for this inconvenience. If the problem persists I invite you to contact
	us at <a href="mailto:admin@wrook.org">admin@wrook.org</a>. Dont forget to include
	some details about what you were trying to do when the problem occured.
</p>
<p>
	We take all bugs and feedback seriously, but please, keep in mind that Wrook is still <a href="/About/Half-Baked-Edition">Half Baked</a>. Another interesting way for you to be heard is to use the "Feedback" button available on the left side of the screen.
</p>
<p>
	Again, sorry for the inconvenience.
</p>
{% endtrans %}

<h3>{% trans %}Technical details{% endtrans %}</h3>
<p>{% trans %}To assist us in solving this problem, we invite you to copy-paste the following details into your message: {% endtrans %}</p>
	<div style="border: 10px solid #DDD; width: 90%; max-height: 200px; overflow: scroll; background: #EEE; padding: 10px;font-size: 0.8em; font-family: arial, 'sans serif'; color: #990000;">
		{{ trace }}
	</div>
{% endblock %}
