{% extends "template-main-d.html" %}
{% load i18n %}
{% block title %}
	<h1>
		{% trans "Join Wrook" %}
	</h1>
{% endblock %}
{% block content %}
		{% if error %}
			<div class="error">
				{{ error }}
			</div>
		{% else %}
			<div class="FriendlyNotice">
{% blocktrans %}
<p>
Before you join Wrook, we need to learn a few things about you. After you filled out this form, <strong>we will send you a password by email</strong>.
</p>
{% endblocktrans %}
			</div>
		{% endif %}
		<form method="post">
			<table>
				<tbody>
					<tr>
						<th>
							<label for="Username">{% trans "Username" %} *</label><br/>
						</th>
						<td>
							<input type="text" style="width:240px" name="Username" value="{{ username|escape }}" />
						</td>
					</tr>
					<tr>
						<th>
							<label for="Email">{% trans "Email" %} *</label><br/>
						</th>
						<td>
							<input type="text" style="width:240px" name="Email" value="{{ email|escape }}" />
						</td>
					</tr>
					<tr>
						<th>
							<label for="Firstname">{% trans "Firstname" %} *</label><br/>
						</th>
						<td>
							<input type="text" style="width:240px" name="Firstname" value="{{ firstname|escape }}" />
						</td>
					</tr>
					<tr>
						<th>
							<label for="Lastname">{% trans "Lastname" %} *</label><br/>
						</th>
						<td>
							<input type="text" style="width:240px" name="Lastname" value="{{ lastname|escape }}" />
						</td>
					</tr>
					<tr>
						<th>
							<label for="PreferedLanguage">{% trans "Prefered language" %}</label><br/>
						</th>
						<td>
							<select name="PreferedLanguage" style="width:120px">
								<option {% ifequal preferedLanguage "en" %}selected="selected"{% endifequal %} value="en">English</option>
								<option {% ifequal preferedLanguage "fr" %}selected="selected"{% endifequal %} value="fr">Français</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>
							<label for="Gender">{% trans "Gender" %}</label><br/>
						</th>
						<td>
							<select name="Gender" style="width:120px">
								<option {% ifequal preferedLanguage "" %}selected="selected"{% endifequal %} value="">{% trans "Select one..." %}</option>
								<option {% ifequal preferedLanguage "male" %}selected="selected"{% endifequal %} value="male">{% trans "Male" %}</option>
								<option {% ifequal preferedLanguage "female" %}selected="selected"{% endifequal %} value="female">{% trans "Female" %}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td>
							<button name="action"><span>{% trans 'Join' %}</span></button>
						</td>
					</tr>
				</tbody>
			</table>

		</form>

{% endblock %}