{% extends "template-main-e2.html" %}
{% block pageId %}login{% endblock %}
{% block pageTitle %}{% trans %}Login{% endtrans %}{% endblock %}
{% block title %}
	<h1>
		{% trans %}Login{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
<script>
$(document).ready(function(){
	$("#username").focus();
})
</script>
	{% if error %}
		<div style="margin-bottom: 10px; padding:10px 15px; background: #BB0000; color: #FFFFFF;">
			{{ error }}
		</div>
	{% endif %}
	<form method="post">
		<input type="hidden" name="comeback" value="{{ comeback }}" />
		<table>
			<tr>
				<td>
					{% trans %}Username or Email{% endtrans %}
					<br />
					<input style="width:200px;" type="text" id="username" name="username" value="{{ username }}" />
				</td>
			</tr>
			<tr>
				<td>
					{% trans %}Password{% endtrans %}
					<br />
					<input style="width:200px;" type="password" id="password" name="password" value="{{ password }}" />
				</td>
			</tr>
			<tr>
				<td>
					<button name="submit" id="login" value="login"><span>{% trans %}Login{% endtrans %}</span></button>
					<span style="margin-left: 20px;"><a href="/ResetPassword/">{% trans %}Forgot your password?{% endtrans %}</a></span>
				</td>
			</tr>
		</table>
	</form>
	<p>
		{% trans %}If you have any difficulties logging in, you can contact the janitor at <a href="mailto:admin@wrook.org">admin@wrook.org</a>.{% endtrans %}
	</p>
	
{% endblock %}
{% block sidebar %}
	{{ addons("pew://login.membership.module.wrook.org/sidebar").get() }}
{% endblock %}
