{% extends "template-main-e.html" %}
{% load i18n %}
{% block pageId %}login{% endblock %}
{% block pageTitle %}{% trans "Login" %}{% endblock %}
{% block title %}
	<h1>
		{% trans "Login" %}
	</h1>
{% endblock %}
{% block content %}
	{% if error %}
		<div style="margin-bottom: 10px; padding:10px 15px; background: #BB0000; color: #FFFFFF;">
			{{ error }}
		</div>
	{% endif %}
	<form method="post">
		<table>
			<tr>
				<td>
					{% trans "Username or Email" %}
					<br />
					<input style="width:200px;" type="text" name="username" value="{{ username }}" />
				</td>
			</tr>
			<tr>
				<td>
					{% trans "Password" %}
					<br />
					<input style="width:200px;" type="password" name="password" value="{{ password }}" />
				</td>
			</tr>
			<tr>
				<td>
					<button name="submit" id="login" value="login"><span>{% trans 'Login' %}</span></button>
					<span style="margin-left: 20px;"><a href="/ResetPassword/">Forgot your password?</a></span>
				</td>
			</tr>
		</table>
	</form>
	<p>
		{% trans 'If you have any difficulties logging in, you can contact the janitor at <a href="mailto:admin@wrook.org">admin@wrook.org</a>.' %}
	</p>
	
{% endblock %}
{% block sidebar %}
	{% include "panels-aboutWrook.html" %}
{% endblock %}
