{% extends "template-profile2.html" %}
{% set subSection = "news" %}
{% block pageId %}home-member{% endblock %}
{% block pageTitle %}{% trans %}Home{% endtrans %}{% endblock %}
{% block content %}
	{% include "part-memberConversion-short.html" %}
	<h2>
		{% trans %}What's new{% endtrans %}
	</h2>
	{% if posts %}
		<div class="storyPosts">
			{% for post in posts %}{% include "part-stories2.html" %}{% endfor %}
		</div>
	{% else %}
		<div>
		{% trans %}There is no activity to show!{% endtrans %}
		</div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<div class="sidebarMenu">
			<ul>
				<li><a id="sidebarMenu-publicProfile" href="/Members/{{ currentMember.key() }}">{% trans %}Your public profile{% endtrans %}</a></li>
				<li><a id="sidebarMenu-accountSettings" href="/Account/View">{% trans %}Account settings{% endtrans %}</a></li>
			</ul>
		</div>
	</div>
	{#
		{% include "panels-memberConversion.html" %}
	#}
{% endblock %}
