{% macro tabs_profile(member, selected) -%}
	<div class="sectionMenu">
		<ul>
			<li {% if selected=="news" %}class="current"{% endif %}>
				<a id="menu-memberNews" href="/Members/{{ member.key() }}">
					<span>{% trans %}News{% endtrans %}</span>
				</a>
			</li>
			<li {% if selected=="books" %}class="current"{% endif %}>
				<a id="menu-memberBooks" href="/Members/{{ member.key() }}/Books">
					<span>{% trans %}Books{% endtrans %}</span>
				</a>
			</li>
			<li {% if selected=="profile" %}class="current"{% endif %}>
				<a id="menu-memberProfile" href="/Members/{{ member.key() }}/Profile">
					<span>{% trans %}Profile{% endtrans %}</span>
				</a>
			</li>
			<li {% if selected=="readings" %}class="current"{% endif %}>
				<a id="menu-memberReadings" href="/Members/{{ member.key() }}/Readings">
					<span>{% trans %}Readings{% endtrans %}</span>
				</a>
			</li>
			<li {% if selected=="covers" %}class="current"{% endif %}>
				<a id="menu-memberCovers" href="/Members/{{ member.key() }}/Covers">
					<span>{% trans %}Covers{% endtrans %}</span>
				</a>
			</li>
		</ul>
	</div>
{%- endmacro %}
