{% extends "template-profile2.html" %}
{% import "wrook-macros.html" as wrook %}
{% set subSection = "covers" %}
{% block title %}
	<h1>
		{% trans %}Book covers{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	{% if currentMember.key()==visitedMember.key() %}
		<h2>{% trans %}Your shared covers{% endtrans %}</h2>
	{% endif %}
	<div class="coverGallery">
		{% for cover in sharedCovers %}
			<div class="cover">
				<a href='/Covers/{{ cover.key() }}'>
					{{ wrook.corners("white5px") }}
					<img src='/Covers/Thumbnail/{{ cover.key() }}'>
					{% if cover.isReusable %}
						<span class="coverTitle" {% if cover.TitleColor %}style="color: {{ cover.TitleColor }}"{% endif %} >{{ cover.SampleTitle }}</span> 
					{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="clearleft"></div>
	{% if permissionMemberCanSeePrivateCovers %}
		{% if currentMember.key()==visitedMember.key() %}
			<h2>{% trans %}Your private covers{% endtrans %}</h2>
		{% else %}
			<h2>{% trans %}Private covers{% endtrans %}</h2>
		{% endif %}
		<div class="coverGallery">
			{% for cover in privateCovers %}
				<div class="cover">
					<a href='/Covers/{{ cover.key() }}'>
						<img src='/Covers/Thumbnail/{{ cover.key() }}'>
						{% if cover.isReusable %}
							<span class="coverTitle" {% if cover.TitleColor %}style="color: {{ cover.TitleColor }}"{% endif %} >{{ cover.SampleTitle }}</span> 
						{% endif %}
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="clearleft"></div>
	{% endif %}
{% endblock %}

{% block contentBottom %}
	{% call wrook.calls_to_action() %}
		<li class="mainLink"><a href="/Covers/">
			<span class="bullet spriteIcons icon-main-link"></span><span>{% trans %}Browse all covers{% endtrans %}</span></a>
		</li>
		{% if visitedMember.key() == currentMember.key() %}
			<li><span class="separator">|</span></li>
			<li><a href="/Covers/Edit/">{% trans %}Add a new cover{% endtrans %}</a></li>
		{% endif %}
	{% endcall %}
{% endblock %}
