{% extends "template-profile2.html" %}
{% import "wrook-macros.html" as wrook %}
{% block title %}
	<h1>
		{% trans %}Books{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	<h2>{% trans firstname=currentMember.Firstname %}{{ firstname}}'s books{% endtrans %}</h2>
	{{ wrook.book_list(books) }}
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<h3>{% trans %}Options{% endtrans %}</h3>
		<div class="sidebarMenu">
			<ul>
				{% if visitedMember.key()==currentMember.key() %}
					<li><a href="/Books/Edit/">{% trans %}Start a new book{% endtrans %}</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endblock %}