{% extends "views/template-main-d2.html" %}
{% import 'wrook-macros.html' as wrook %}
{% block pageId %}members{% endblock %}
{% block pageTitle %}
	{% trans %}Members{% endtrans %}
{% endblock %}
{% block title %}
	<h1>
		{% trans %}Members{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	<form>
		<label for="searchCriteria">{% trans %}Search members:{% endtrans %}</label>
		<input name="searchCriteria" value="{{ searchCriteria|e }}" type="text" alt="{% trans %}Enter firstname or lastname{% endtrans %}" />
		<button><span>{% trans %}Search{% endtrans %}</span></button>
	</form>
	{% if searchCriteria %}
		<h2>{% trans criteria=searchCriteria|e %}Results for "<em>{{ criteria }}</em>":{% endtrans %}</h2>
	{% else %}
		<h2>{% trans %}A few new members:{% endtrans %}</h2>
	{% endif %}
	<div class="memberList">
		<ul>
			{% for member in members %}
				<li>
					<div class="avatar">
						{{ wrook.corners("white5px") }}
						<a href="/Members/{{ member.key() }}"><img width="120" height="120" alt="{{ member.fullname()|e }}" src="{{ member.gravatar120() }}" /></a>
						<h3>
							<a href="/Members/{{ member.key() }}">{{ member.Firstname|e }}</a>
						</h3>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="clearfix"></div>
{% endblock %}