{% extends "template-profile2.html" %}
{% set subSection = "covers" %}
{% block title %}
	<h1>
		{% trans %}Book covers{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	{% if currentMember.key()==visitedMember.key() %}
		<h2>{% trans %}Your shared covers{% endtrans %}</h2>
	{% endif %}
	<div class="coverGallery">
		{% for cover in sharedCovers %}
			<div class="cover">
				<a href='/Covers/{{ cover.key() }}'>
					<img src='/Covers/Thumbnail/{{ cover.key() }}'>
					{% if cover.isReusable %}
						<span class="coverTitle" {% if cover.TitleColor %}style="color: {{ cover.TitleColor }}"{% endif %} >{{ cover.SampleTitle }}</span> 
					{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="clearleft"></div>
	{% if permissionMemberCanSeePrivateCovers %}
		{% if currentMember.key()==visitedMember.key() %}
			<h2>{% trans %}Your private covers{% endtrans %}</h2>
		{% else %}
			<h2>{% trans %}Private covers{% endtrans %}</h2>
		{% endif %}
		<div class="coverGallery">
			{% for cover in privateCovers %}
				<div class="cover">
					<a href='/Covers/{{ cover.key() }}'>
						<img src='/Covers/Thumbnail/{{ cover.key() }}'>
						{% if cover.isReusable %}
							<span class="coverTitle" {% if cover.TitleColor %}style="color: {{ cover.TitleColor }}"{% endif %} >{{ cover.SampleTitle }}</span> 
						{% endif %}
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="clearleft"></div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<h3>{% trans %}Options{% endtrans %}</h3>
		<div class="sidebarMenu">
			<ul>
				<li><a href="/Covers/Edit/">{% trans %}Create a new cover{% endtrans %}</a></li>
				<li><a href="/Covers/">{% trans %}Browse all covers{% endtrans %}</a></li>
			</ul>
		</div>
	</div>
	{% if currentMember.isAdmin %}
		<div class="sidebarPanel">
			<h3>{% trans %}Admin options{% endtrans %}</h3>
			<div class="sidebarMenu">
				<ul>
					<li><a href="/Covers/Select?usage=Books without a cover&redirect=/Covers/SetDefault">{% trans %}Select the default cover{% endtrans %}</a></li>
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock %}
