{% extends "views/template-main-e2.html" %}
{% import 'wrook-macros.html' as wrook %}
{% block pageId %}members{% endblock %}
{% block pageTitle %}
	{% trans %}Members{% endtrans %}
{% endblock %}
{% block title %}
	<h1>
		{% trans %}Members{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	<form>
		<label for="searchCriteria">{% trans %}Search members:{% endtrans %}</label>
		<input name="searchCriteria" value="{{ searchCriteria|e }}" type="text" alt="{% trans %}Enter firstname or lastname{% endtrans %}" />
		<button><span>{% trans %}Search{% endtrans %}</span></button>
	</form>
	{% if searchCriteria %}
		<h2>{% trans criteria=searchCriteria|e %}Results for "<em>{{ criteria }}</em>":{% endtrans %}</h2>
	{% else %}
		<h2>{% trans %}A few new members:{% endtrans %}</h2>
	{% endif %}

	{{ wrook.members_list(members) }}

{% endblock %}
{% block sidebar %}
{% endblock %}
