{% extends "template-profile2.html" %}
{% block pageId %}members-stories{% endblock %}
{% block pageTitle %}{% trans %}What's new{% endtrans %}{% endblock %}
{% block title %}
{% endblock %}
{% block content %}
	<h2>
		{% trans %}What's new{% endtrans %}
	</h2>
	<div class="storyPosts">
		{% for post in posts %}{% include "part-stories2.html" %}{% endfor %}
	</div>
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<h3>{% trans %}Your options{% endtrans %}</h3>
		<div class="sidebarMenu">
			<ul>
			</ul>
		</div>
	</div>
{% endblock %}
