{% extends "template-profile2.html" %}
{% set subSection = "profile" %}
{% block title %}
	<h1>
		{% trans %}Profile{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	{% if visitedMember.About %}
		<div>
			<h2>
				{% trans firstname=visitedMember.Firstname %}Some details about {{ firstname }}{% endtrans %}
			</h2>
			{% if visitedMember.About %}
				<div>
					"&#160;{{ visitedMember.About|e }}&#160;"
				</div>
				<br/>
			{% endif %}
			<table>
				<tbody>
					{% if visitedMember.Gender %}
						<tr>
							<th>{% trans %}Gender{% endtrans %}:</th><td>{{ visitedMember.genderName() }}</td>
						</tr>
					{% endif %}
					{% if visitedMember.Birthdate %}
						<tr>
							<th>{% trans %}Birth date{% endtrans %}:</th><td>{{ visitedMember.Birthdate }}</td>
						</tr>
					{% endif %}
					<tr>
						<th>{% trans %}Member since{% endtrans %}:</th><td>{{ visitedMember.Created }}</td>
					</tr>
					<tr>
						<th>{% trans %}Prefered language{% endtrans %}:</th><td>{{ visitedMember.preferedLanguageName() }}</td>
					</tr>
					{% if visitedMember.isAdmin %}
						<tr>
							<th>{% trans %}Member status:{% endtrans %}</th><td>{% trans %}Administrator{% endtrans %}</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	{% endif %}

{% endblock content %}

