{% extends "template-profile.html" %}
{% load i18n %}
{% block pageId %}home-member{% endblock %}
{% block pageTitle %}{% trans "Home" %}{% endblock %}
{% block title %}
{% endblock %}
{% block content %}
	{% include "part-memberConversion-short.html" %}
	{% include "template-part-newMemberWelcome.html" %}
	<h2>
		{% trans "What's new" %}
	</h2>
	{% if posts %}
		<div class="storyPosts">
			{% for post in posts %}{% include "part-stories.html" %}{% endfor %}
		</div>
	{% else %}
		<div>
		{% trans "There is no activity to show!" %}
		</div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<div class="sidebarMenu">
			<ul>
				<li><a id="sidebarMenu-startNewBook" href="/Books/Edit/">{% trans "Start a new book" %}</a></li>
				<li><a id="sidebarMenu-publicProfile" href="/Members/{{ currentMember.key }}">{% trans "Public profile" %}</a></li>
				<li><a id="sidebarMenu-accountSettings" href="/Account/View">{% trans "Account settings" %}</a></li>
			</ul>
		</div>
	</div>
	{% include "panels-memberConversion.html" %}
{% endblock %}
