{% extends "template-profile2.html" %}
{% set subSection = "books" %}
{% import "wrook-macros.html" as wrookMacros %}
{% block title %}
	<h1>
		{% trans %}Books{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	<h2>{% trans firstname=visitedMember.Firstname %}{{ firstname}}'s books{% endtrans %}</h2>
	{{ wrookMacros.book_list(books) }}
	<div class="clearfix"></div>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block contentBottom %}
	{% if visitedMember.key()==currentMember.key() %}
		{% call wrookMacros.calls_to_action() %}
			<li class="mainLink"><a href="/Books/Edit/">
				<span class="bullet spriteIcons icon-main-link"></span><span>{% trans %}Start a new book{% endtrans %}</span></a>
			</li>
		{% endcall %}
	{% endif %}
{% endblock %}
