{% if currentMember.memberConversionLevel()!=None %}
	<div class="sidebarPanel">
		<h3>{% trans %}Suggestions{% endtrans %}</h3>
		<div class="panelContent">
			<div class="progressBar">
				<div class="completed" style="width:{{ currentMember.getConversionProgress() }}%"></div>
			</div>
	{% if currentMember.memberConversionLevel()=="low" %}
{% trans progress=currentMember.getConversionProgress() %}
<p>
Up to now you have tried <strong>{{ progress }}&#37;</strong> of our features! <strong><a href="/Suggestions">Try more...</a></strong>
</p>
{% endtrans %}
{% endif %}
{% if currentMember.memberConversionLevel()=="medium" %}
{% trans progress=currentMember.getConversionProgress() %}
<p>
Your making progress! Your have already used <strong>{{ progress }}&#37;</strong> of wrook! <strong><a href="/Suggestions">Try a few more...</a></strong>
</p>
{% endtrans %}
{% endif %}
{% if currentMember.memberConversionLevel()=="high" %}
{% trans progressLeft=currentMember.getConversionProgressLeft() %}
<p>
Excellent! You only have <strong>{{ progressLeft }}&#37;</strong> left to try! <strong><a href="/Suggestions">A few last things...</a></strong>
</p>
{% endtrans %}
{% endif %}
{% if currentMember.memberConversionLevel()=="complete" %}
{% trans %}
<p>
Wow! Your seem to have tried all of our features, <strong><a href="/Suggestions">Thank you and...</a></strong>
</p>
{% endtrans %}
{% endif %}
</div>
	</div>
{% endif %}
