{% load i18n %}
<div id="{{ post.key }}" class='storyPosts-item {% cycle even,odd as alternate %} miniMenuContext'>
	<div>
		<div style="position: absolute; top: 5px; right: 3px; z-index: 1000" class="miniMenuAnchor" id="storyPost-{{ post.key }}"></div>
		{% if post.Icon %}<span class="icon"><img src="/images/storyIcons/{{ post.Icon }}" /></span>{% endif %}
		<span class="moreLink"></span>
		<h4>
			<span class="title">{{ post.Title }}</span>
			<span class="when">{% blocktrans with now|timesince:post.WhenOccured as timeAgo %} {{timeAgo}} ago {% endblocktrans %}</span>
		</h4>
	</div>
	<div class="more">
		{% if post.Body %}
			<div class="body">
				{{ post.Body }}
				<div class="clearfix"></div>
			</div>
		{% endif %}
		<div class="replies">
			<div class="replies-list">
				{% for reply in post.getReplies %}
					{% include "..\feathers\views\talk-part-replies.html" %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>