{% load i18n %}
{% ifequal currentMember.memberConversionLevel "none" %}
	<style>
		.memberConversion {
			border: 2px solid #d9d75c;
			background: #fffd6c;
			padding: 10px;
		}
		.memberConversion h3 {
			margin: 0px;
		}
	</style>
	<div class="memberConversion">
{% blocktrans with currentMember.firstname as firstname %}
<strong>Welcome {{ firstname }}!</strong> Since you are a new member we have a
few suggestions you might find interesting.
<a href="/Suggestions">Read more...</a>
{% endblocktrans %}
	</div>
{% endifequal %}