{% load i18n %}
<div class="reply">
	<span class="reply-avatar"><img width="30" src="{{ reply.From.gravatar30 }}" /></span>
	<span class="reply-tip"></span>
	<div class="reply-body">
		{{ reply.Body }}
	</div>
	<div class="reply-title">
		<span class="reply-when">{% blocktrans with now|timesince:reply.Sent as timeAgo %} {{ timeAgo }} ago {% endblocktrans %}</span>
		{% trans "by" %}
		<span class="reply-fullname"><a href="/Members/{{ reply.From.key }}">{{ reply.From.fullname }}</a></span>
	</div>
</div>
