{% extends "template-main-e2.html" %}
{% block title %}
	<h1>
		{% trans %}Password sent{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	<p>
		{% trans email=member.Email %}The password has been sent to: <strong>{{ email }}</strong>{% endtrans %}
	</p>
	<p>
		{% trans %}If you fail to receive the password within the next few hours, we invite you to contact the site administrator:{% endtrans %} <strong><a href="mailto:admin@wrook.org">admin@wrook.org</a></strong>
	</p>
	<div class="buttonBar" style="clear:none; margin-top: 30px">
		<ul>
			<li><a href="/Login"><span>{% trans %}Login{% endtrans %}</span></a></li>
		</ul>
	</div>
{% endblock %}