{% extends "template-main-d.html" %}
{% load i18n %}
{% block title %}
	<h1>
		{% trans "Password sent!" %}
	</h1>
{% endblock %}
{% block content %}
	<p>
		{% trans "The password has been sent to: " %} <strong>{{ member.Email }}</strong>
	</p>
	<div class="buttonBar" style="clear:none; margin-top: 30px">
		<ul>
			<li><a href="/Login"><span>{% trans "Login" %}</span></a></li>
			<li><a href="/SendPassword/{{ member.key }}"><span>{% trans "Send again" %}</span></a></li>
		</ul>
	</div>
{% endblock %}