{% extends "template-main-e.html" %}
{% load i18n %}
{% block pageId %}resetPassword{% endblock %}
{% block pageTitle %}{% trans "Reset your password" %}{% endblock %}
{% block title %}
	<h1>
		{% trans "Reset your password" %}
	</h1>
{% endblock %}
{% block content %}
	{% if error %}
		<div style="margin-bottom: 10px; padding:10px 15px; background: #BB0000; color: #FFFFFF;">
			{{ error }}
		</div>
	{% endif %}
	<form method="post">
		<p>
			{% trans "A new password will be sent to your email address." %}
		</p>
		<table>
			<tr>
				<td>
					{% trans "Username or Email" %}
					<br />
					<input style="width:200px;" type="text" name="usernameOrEmail" value="" />
				</td>
			</tr>
			<tr>
				<td>
					<button name="resetPassword"><span>{% trans 'Reset password' %}</span></button>
				</td>
			</tr>
		</table
	</form>
	<p>
		{% trans 'If you have any difficulties logging in, you can contact the janitor at <a href="mailto:admin@wrook.org">admin@wrook.org</a>.' %}
	</p>
	
{% endblock %}
