{% extends "template-main-d.html" %}
{% load i18n %}
{% block pageId %}revisions{% endblock %}
{% block pageTitle %}
		{% trans "Revisions for " %}
		{% if chapter.Name %}{{ chapter.Name }}{% endif %}
		{% if chapter.Title %}{{ chapter.Title }}{% endif %}
{% endblock %}
{% block title %}
	<h1>
		{% trans "Revisions for " %}
		"&#160;{% if chapter.Name %}{{ chapter.Name }}{% endif %}
		{% if chapter.Title %}{{ chapter.Title }}{% endif %}&#160;"
	</h1>
{% endblock %}
{% block content %}
	{% ifnotequal chapter.Revisions.count 0 %}
		<ul>
			{% for revision in revisions %}
				<li><a href="/Books/Chapters/{{ chapter.key }}/Rev/{{ revision.Version }}">{% trans "Revision" %} {{ revision.Version }} - {{ revision.Created }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<div>
			{% trans "Sorry, no revisions have been posted yet!" %}
		</div>
	{% endifnotequal %}
{% endblock %}

	
{% block sidebar%}
	<div class="sidebarPanel">
		<h3>{% trans "Options" %}</h3>
		<div class="sidebarMenu">
			<ul>
				<li><a href="/ViewChapter/{{ chapter.key }}">{% trans "Back to chapter" %}</a></li>
			</ul>
		</div>
	</div>
{% endblock %}

