{% if environment.isGoogle %}
	<script type="text/javascript" src="/scripts/packed.js"></script>
{% else %}
	<script type="text/javascript" src="/scripts/jquery/jquery.form.js"></script>
	<script type="text/javascript" src="/scripts/jquery/jquery.effects.highlight.js"></script>
	<script type="text/javascript" src="/scripts/jquery/jquery.example.js"></script>
	<script type="text/javascript" src="/scripts/jquery/jquery.autogrow.js"></script>
	<script type="text/javascript" src="/scripts/jquery/jquery.expander.js"></script>
	<script type="text/javascript" src="/scripts/jquery/jquery.tooltip.js"></script>
	<script type="text/javascript" src="/scripts/jquery/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="/scripts/main.js"></script>
	{#
	<script type="text/javascript" src="/scripts/main.js?random={{ random }}"></script>
	#}
{% endif %}


{#
	THIS PLUGIN IS GARBAGE IT BREAKS JQUERY AND MAKES IT RETURN ALWAY 1 ITEM
	<script type="text/javascript" src="/scripts/jquery/jquery.validate.js"></script>
#}
