{% load i18n %}

	<div style="width: 190px; float:left; z-index: 1000; position: relative; margin-right:20px;">
		{% if book.getCover %}
			<div class="cover width180">
				<img src='/Covers/Thumbnail/{{ book.getCover.key }}?width=180'>
				{% if book.getCover.isReusable %}
					<span class="coverTitle" {% if book.getCover.TitleColor %}style="color: {{ book.getCover.TitleColor }}"{% endif %} >{{ book.Title }}</span> 
				{% endif %}
			</div>
		{% endif %}
	</div>

	<div style="float: left; width: 440px;">
		{% if book.Synopsis %}
			<div class="synopsis">
				"&#160;{{ book.Synopsis|escape }}&#160;"
			</div>
			<script>
				$(document).ready(function(){
					$('.synopsis').expander({
						slicePoint: 200, 
						widow: 4,
						expandEffect: 'fadeIn',
						expandText: '[read more...]',
						userCollapseText: '[{% trans "close" %}]',
						userCollapsePrefix: ' ',
						userCollapse: true
					});
				});
			</script>

			<h3>
				{% trans "License and attribution" %}:
			</h3>
			{% if book.License %}
				<div>
					<a href="{{ book.License.URL }}">{{ book.License.Title }}</a>
				</div>
				{% if book.AttribDetailed %}
					<div class="detailedAttribution">
						{{ book.markdownAttribDetailed }}
					</div>
					<script>
						$(document).ready(function(){
							$('.detailedAttribution').expander({
								slicePoint: 200, 
								widow: 4,
								expandEffect: 'fadeIn',
								expandText: '[read more...]',
								userCollapseText: '[{% trans "close" %}]',
								userCollapsePrefix: ' ',
								userCollapse: true
							});
						});
					</script>
				{% endif %}
			{% else %}
				<p>
					{% trans "No license or copyright has been specified" %}</a>
				</p>
			{% endif %}
			
		{% endif %}
		{% if book.Author.About %}
			<h3>
				{% trans "Contributed by" %}
			</h3>
			<div style="position: relative">
				<div class="avatar" style="float: left; margin: 0px 5px 5px 0px;"><a href="/Member/{{ book.Author.key }}"><img src="{{ book.Author.gravatar50 }}" width="50" height="50" /></a></div>
				<p>
					<a href="/Member/{{ book.Author.key }}">{{ book.Author.fullname }}</a>
					<br />
					{{ book.Author.About }}
				</p>
			</div>
		{% endif %}
		<div style="clear:left"></div>
		{% if book.NoteFromAuthor %}
			<h3>
				{% trans "A note from the contributor" %}
			</h3>
			<div class="NoteFromAuthor">
				{{ book.NoteFromAuthor|escape }}
			</div>
		{% endif %}
	</div>
	<div class="clearfix"></div>
