{% extends "template-main-e2.html" %}
{% import 'member-macros.html' as memberMacros %}
{% import 'wrook-macros.html' as wrookMacros %}
{% set section="member-profile" %}
{% block htmlHead %}
	<link rel="alternate" type="application/rss+xml" title="{% trans name=visitedMember.fullname() %} RSS Feed for {{ name }}{% endtrans %}" href="/Members/{{ visitedMember.key() }}/Feed/RSS" />
{% endblock %}
{% block pageContent %}
	<script>
$(document).ready(function(){
	var doFollow = function(e) {
		var linkElem = this
		url="/Members/{{ visitedMember.key() }}/Follow";
		
		$(".label", linkElem)[0].innerHTML = "Adding...";

		$.getJSON(url, function(data){
			if (data.errorCode == 0) {
				$(linkElem).unbind("click")
				$(linkElem).click(doStopFollowing)
				$(".label", linkElem)[0].innerHTML = "Following";
				$(".spriteIcons", linkElem).addClass("icon-profile-added");
				$(".spriteIcons", linkElem).removeClass("icon-profile-add");
			} else if(data.errorCode > 0) {
				alert("Oups! A problem occured: " + data.errorMessage + " (Error code:" + data.errorCode + ")");
			}
		});
		return false;
	}
	var doStopFollowing = function(e) {
		var linkElem = this
		url="/Members/{{ visitedMember.key() }}/StopFollowing";
	
		$(".label", linkElem)[0].innerHTML = "Removing...";
	
		$.getJSON(url, function(data){
			if (data.errorCode == 0) {
				$(linkElem).unbind("click")
				$(linkElem).click(doFollow)
				$(".label", linkElem)[0].innerHTML = "Follow!";
				$(".spriteIcons", linkElem).addClass("icon-profile-add");
				$(".spriteIcons", linkElem).removeClass("icon-profile-added");
			} else if(data.errorCode > 0) {
				alert("Oups! A problem occured: " + data.errorMessage + " (Error code:" + data.errorCode + ")");
			}
		});
		return false;
	}
	$("#doFollow").click(doFollow)
	$("#doStopFollowing").click(doStopFollowing)
})
	</script>
	<div id="pageContent">
		<div class="contentBlock">
			<div class="blockHeader withSectionMenu">
				<h1><a href="/Members/{{ visitedMember.key() }}">
					{{ visitedMember.fullname() }}
				</a></h1>
				{% if currentMember %}
					{% set _isCurrentMember = (visitedMember.key()==currentMember.key()) %}
				{% else %}
					{% set _isCurrentMember = False %}
				{% endif %}
				{{ memberMacros.tabs_profile(visitedMember, subSection, isCurrentMember==_isCurrentMember) }}
				<div class="clearfix"></div>
			</div>
			<div class="blockContent">
				<div class="sidebar">
					<div id="memberAvatar">
						<a href="/Members/{{ visitedMember.key() }}"><img width="180" height="180" src="{{ visitedMember.gravatar180() }}" /></a>
					</div>
					{% set neighborhood=visitedMember.get_neighborhood(top=6) %}
					{% if neighborhood %}
						<div class="panelContent" style="margin-top: 10px;">
							{{ wrookMacros.members_list_small(neighborhood, roundedCorners=False) }} 
							<a href="/Members/{{ visitedMember.key() }}/Neighborhood">
								{% trans count=neighborhood|length %}View all <strong>neighborhood</strong> ({{ count }}){% endtrans %}
							</a>
						</div>
					{% endif %}
					{% if currentMember %}
						{% if currentMember.key() != visitedMember.key() %}
							<div class="sidebarPanel">
								<div class="sidebarMenu">
									<ul>
										{% if currentMember.get_relationship_status(visitedMember, "follower") == "ok" %}
											<li>
												<a id="doStopFollowing" href="#">
													<span class="spriteIcons icon-profile-added"></span>
													<span class="label">
														{% trans %}Following{% endtrans %}
													</span>
												</a>
											</li>
										{% else %}
											<li>
												<a id="doFollow" href="#">
													<span class="spriteIcons icon-profile-add"></span>
													<span class="label">
														{% trans %}Follow!{% endtrans %}
													</span>
												</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						{% endif %}
					{% endif %}
					{% block sidebar %}{% endblock %}
				</div>
				<div class="blockBody">
					<div class="top"></div>
					<div class="middle">
						<div id="notices">
							{% block notices %}{% endblock %}
						</div>
						{% include "part-titleBlock2.html" %}
						{% block content %}{% endblock %}
					</div>
					<div class="bottom">
						{% block contentBottom %}{% endblock %}
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="blockFooter"></div>
		</div>
	</div>
{% endblock %}