{% extends "views/template-main-nosidebar2.html" %}
{% block pageContent %}	
	<div id="pageContent" class="page-wide">
		<div class="contentBlock">
			<div class="blockHeader">
				{% block title %}{% endblock %}
			</div>
			<div class="blockContent">
				<div class="blockBody">
					<div class="top"></div>
					<div class="middle">
						<div class="notices">
							{% block notices %}{% endblock %}
						</div>
						{% block content %}{% endblock %}
					</div>
					<div class="bottom">
						{% block contentBottom %}{% endblock %}
					</div>
				</div>
			</div>
			<div class="blockFooter"></div>
		</div>
		<div class="clearfix"></div>
	</div>
{% endblock %}
