{% extends "template-main-e2.html" %}
{% block pageContent %}
	<script>
function call_stop_following(url, elem) {
}
function call_follow(url, elem) {
	$.getJSON(url, function(data){
		if (data.errorCode == 0) {
			console.log(elem);
		} else if(data.errorCode > 0) {
			alert("Oups! A problem occured: " + data.errorMessage + " (Error code:" + data.errorCode + ")");
		}
	});
}
	</script>
	<div id="pageContent">
		<div class="contentBlock">
			<div class="blockHeader withSectionMenu">
				<h1><a href="/Members/{{ visitedMember.key() }}">
					{{ visitedMember.fullname() }}
				</a></h1>
				<div class="sectionMenu">
					<ul>
						<li><a id="menu-memberFeed" href="/Members/{{ visitedMember.key() }}"><span>{% trans %}Feed{% endtrans %}</span></a></li>
						<li><a id="menu-memberProfile" href="/Members/{{ visitedMember.key() }}/Profile"><span>{% trans %}Profile{% endtrans %}</span></a></li>
						<li><a id="menu-memberBooks" href="/Members/{{ visitedMember.key() }}/Books"><span>{% trans %}Books{% endtrans %}</span></a></li>
						<li><a id="menu-memberReadings" href="/Members/{{ visitedMember.key() }}/Readings"><span>{% trans %}Readings{% endtrans %}</span></a></li>
						<li><a id="menu-memberCovers" href="/Members/{{ visitedMember.key() }}/Covers"><span>{% trans %}Covers{% endtrans %}</span></a></li>
						{% if visitedMember==currentMember %}
							<li><a id="menu-memberInvites" href="/Invites"><span>{% trans %}Invites{% endtrans %}</span></a></li>
						{% endif %}
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="blockContent">
				<div class="blockBody">
					<div class="top"></div>
					<div class="middle">
						<div id="notices">
							{% block notices %}{% endblock %}
						</div>
						{% include "part-titleBlock2.html" %}
						{% block content %}{% endblock %}
					</div>
					<div class="bottom"></div>
				</div>
				<div class="sidebar">
					<div id="memberAvatar">
						<a href="/Members/{{ visitedMember.key() }}"><img width="180" height="180" src="{{ visitedMember.gravatar180() }}" /></a>
					</div>
					<div class="sidebarPanel">
						<div class="sidebarMenu">
							<ul>
								{% if currentMember.key() != visitedMember.key() %}
									{% if currentMember.get_relationship_status(visitedMember, "follower") == "ok" %}
										<li>
											<a onclick="call_stop_following('/Members/{{ visitedMember.key() }}/StopFollowing'); return false;" href="">
											<span class="spriteIcons icon-profile-added"></span>
											{% trans %}Following{% endtrans %}</a></li>
									{% else %}
										<li>
											<a onclick="call_follow('/Members/{{ visitedMember.key() }}/Follow', this); return false;" href="#">
											<span class="spriteIcons icon-profile-add"></span>
											{% trans %}Follow!{% endtrans %}</a></li>
									{% endif %}
								{% endif %}
							</ul>
						</div>
					</div>
					{% block sidebar %}{% endblock %}
				</div>
			</div>
			<div class="blockFooter"></div>
		</div>
	</div>
{% endblock %}