{% extends "template-book.html" %}
{% import 'wrook-macros.html' as wrook %}
{% import 'book-macros.html' as bookMacros %}
{% set section = "book" %}
{% set subSection = "contents" %}
{% block pageId %}books-read{% endblock %}
{% block pageTitle %}
	{{ chapter.Book.Title }}
{% endblock %}

{% block contentTop %}
	{% if chapter.Stage!="final" %}
		{{ wrook.notice(title=_("Notice"), body=chapter.get_verbose_stage()) }}
	{% else %}
		{% if chapter.Book.Stage!="final" %}
			{{ wrook.notice(title=_("Notice"), body=_("Altough this book is not completed, this chapter is final.")) }}
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="chapterInfo">
		<h1>
			{% if chapter.Title %}
				<div style="margin-bottom: 20px; font-size: 0.8em; font-weight: normal;">
					{{ chapter.Name|escape }}
				</div>
				{{ chapter.Title|escape }}
			{% else %}
				{{ chapter.Name|escape }}
			{% endif %}
		</h1>
	</div>
	<div>
		{% if chapter.Synopsis %}
			<div class="Synopsis">
				"&#160;{{ chapter.Synopsis|escape }}&#160;"
			</div>
		{% endif %}
	
		{% if chapter.getLatestRevision() %}
			<div class="chapterText">
				{{ chapter.getLatestRevision().text_with_linebreaks() }}
			</div>
		{% endif %}
	
		{% if not chapter.nextChapter() %}
			<div style="margin: 40px 0px;">
				<strong>{% trans %}This was the last chapter!{% endtrans %}</strong>
			</div>
		{% endif %}
	</div>

	<div class="buttonBar">
		<ul>
			{% if chapter.nextChapter() %}
				<li><a href="/ViewChapter/{{ chapter.nextChapter().key() }}"><span>{% trans %}Next chapter{% endtrans %}</span></a></li>
			{% endif %}
			{% if chapter.previousChapter() %}
				<li><a href="/ViewChapter/{{ chapter.previousChapter().key() }}"><span>{% trans %}Previous chapter{% endtrans %}</span></a></li>
			{% endif %}
			<li><a href="/Books/{{ chapter.Book.key() }}"><span>{% trans %}Back to overview{% endtrans %}</span></a></li>
		</ul>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<h3>{% trans %}Options{% endtrans %}</h3>
		<div class="sidebarMenu">
			<ul>
				{% if chapter.nextChapter() %}
					<li><a href="/ViewChapter/{{ chapter.nextChapter().key() }}">{% trans %}Next chapter{% endtrans %}</a></li>
				{% endif %}
				{% if chapter.previousChapter() %}
					<li><a href="/ViewChapter/{{ chapter.previousChapter().key() }}">{% trans %}Previous chapter{% endtrans %}</a></li>
				{% endif %}
				<li><a href="/Books/{{ chapter.Book.key() }}">{% trans %}Back to cover{% endtrans %}</a></li>
			</ul>
		</div>
	</div>

	{% if userIsAuthor %}
		<div class="sidebarPanel">
			<h3>{% trans %}Editing options{% endtrans%}</h3>
			<div class="sidebarMenu">
				<ul>
					<li><a href="/Typewriter/{{ chapter.key() }}">{% trans %}Edit chapter{% endtrans %}</a></li>
					<li><a href="/EditChapter/{{ chapter.key() }}">{% trans %}Chapter options{% endtrans %}</a></li>
					<li><a href="/Chapter/Delete/{{ chapter.key() }}">{% trans %}Delete chapter{% endtrans %}</a></li>
				</ul>
			</div>
		</div>
	{% endif %}

	<div class="sidebarPanel">
		<h3>{% trans %}About this chapter{% endtrans %}</h3>
		<div class="sidebarMenu">
			<ul>
				<li>
					<a href="/Books/Chapters/{{ chapter.key() }}/Rev">{{ chapter.Revisions.count() }} {% trans %}Revisions{% endtrans %}</a>
				</li>
			</ul>
		</div>
	</div>

	{% if chapter.Book.NoteFromAuthor %}
		<div class="sidebarPanel">
			<h3>{% trans %}Note from the author{% endtrans %}</h3>
			<div class="NoteFromAuthor">
				{{ chapter.Book.NoteFromAuthor|escape }}
			</div>
		</div>
	{% endif %}

{% endblock %}
