{% extends "template-book.html" %}
{% import 'wrook-macros.html' as wrook %}
{% import 'book-macros.html' as bookMacros %}
{% set section = "book" %}
{% set subSection = "contents" %}
{% block pageId %}books-read{% endblock %}
{% block pageTitle %}
	{{ chapter.Book.Title }}
{% endblock %}

{% block contentTop %}
	{% if chapter.Stage!="final" %}
		{{ wrook.notice(title=_("Notice"), body=chapter.get_verbose_stage()) }}
	{% else %}
		{% if chapter.Book.Stage!="final" %}
			{{ wrook.notice(title=_("Notice"), body=_("Altough this book is not completed, this chapter is final.")) }}
		{% endif %}
	{% endif %}
	{% if userCanEdit %}
		<div style="margin: 5px 0px;">
			{{ wrook.iconButton(label=_("Set starting point"), alt=_("Set this chapter as the readers starting point."), name="setStartingPoint", icon="edit-glow", url="/Books/%s/Chapters/%s/Set" % (book.key(), chapter.key())) }}
			{{ wrook.iconButton(label=_("Edit chapter"), alt="", name="setStartingPoint", icon="edit-glow", url="/Typewriter/%s" % book.key()) }}
			{{ wrook.iconButton(label=_("Chapter options"), alt="", name="setStartingPoint", icon="edit-glow", url="/EditChapter/%s" % book.key()) }}
			{{ wrook.iconButton(label=_("Delete chapter"), alt="", name="setStartingPoint", icon="edit-glow", url="/Chapter/Delete/%s" % book.key()) }}
		</div>
		<br />
		<br />
	{% endif %}
	
{% endblock %}

{% block content %}

	{{ bookMacros.showChapter(chapter, currentMember=currentMember) }}

	{% if not chapter.nextChapter() %}
		<div style="margin: 40px 0px;">
			<strong>{% trans %}This was the last chapter!{% endtrans %}</strong>
		</div>
	{% endif %}

	<div class="buttonBar">
		<ul>
			{% if chapter.nextChapter() %}
				<li><a href="/ViewChapter/{{ chapter.nextChapter().key() }}"><span>{% trans %}Next chapter{% endtrans %}</span></a></li>
			{% endif %}
			{% if chapter.previousChapter() %}
				<li><a href="/ViewChapter/{{ chapter.previousChapter().key() }}"><span>{% trans %}Previous chapter{% endtrans %}</span></a></li>
			{% endif %}
			<li><a href="/Books/{{ chapter.Book.key() }}"><span>{% trans %}Back to overview{% endtrans %}</span></a></li>
		</ul>
	</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
