{% extends "template-main-d.html" %}
{% load i18n %}
{% block pageId %}account-view{% endblock %}
{% block pageTitle %}{% trans "Your account" %}{% endblock %}
{% block title %}
	<h1>
		{% trans "Your account" %}
	</h1>
{% endblock %}
{% block content %}
	<table>
		<tbody>
			<tr>
				<th>Name</th>
				<td id="valFirstname">{{ member.Firstname }} {{ member.Lastname }}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td id="valUsername">{{ member.Username }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td id="valEmail">{{ member.Email }}</td>
			</tr>
			<tr>
				<th>Prefered language</th>
				<td id="valPreferedLanguage">{{ member.preferedLanguageName }}</td>
			</tr>
			<tr>
				<th>Gender</th>
				<td id="Gender">{{ member.genderName }}</td>
			</tr>
			<tr>
				<th>About you</th>
				<td id="valAbout">
					{% if member.About %}
						{{ member.About }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="buttonBar">
						<ul>
							<li><a id="btnEditAccount" href="/EditAccount"><span>
								{% trans "Edit account" %}
							</span></a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<h3>{% trans "Options" %}</h3>
		<div class="sidebarMenu">
			<ul>
				<li><a id="sidebarMenu-changePassword" href="/Account/ChangePassword">{% trans "Change password" %}</a></li>
				<li><a id="sidebarMenu-changeProfilePhoto" href="/Account/ChangeProfilePhoto">{% trans "Change profile photo" %}</a></li>
			</ul>
		</div>
	</div>
{% endblock %}