{% extends "template-main-e2.html" %}
{% block pageId %}account-view{% endblock %}
{% block pageTitle %}{% trans %}Your account{% endtrans %}{% endblock %}
{% block title %}
	<h1>
		{% trans %}Your account{% endtrans %}
	</h1>
{% endblock %}
{% block content %}
	<table>
		<tbody>
			<tr>
				<th>{% trans %}Name{% endtrans %}</th>
				<td id="valFirstname">{{ member.Firstname }} {{ member.Lastname }}</td>
			</tr>
			<tr>
				<th>{% trans %}Username{% endtrans %}</th>
				<td id="valUsername">{{ member.Username }}</td>
			</tr>
			<tr>
				<th>{% trans %}Email{% endtrans %}</th>
				<td id="valEmail">{{ member.Email }}</td>
			</tr>
			<tr>
				<th>{% trans %}Prefered language{% endtrans %}</th>
				<td id="valPreferedLanguage">{{ member.preferedLanguageName() }}</td>
			</tr>
			<tr>
				<th>{% trans %}Gender{% endtrans %}</th>
				<td id="Gender">{{ member.genderName() }}</td>
			</tr>
			<tr>
				<th>{% trans %}About you{% endtrans %}</th>
				<td id="valAbout">
					{% if member.About %}
						{{ member.About }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="buttonBar">
						<ul>
							<li><a id="btnEditAccount" href="/EditAccount"><span>
								{% trans %}Edit account{% endtrans %}
							</span></a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<h3>{% trans %}Options{% endtrans %}</h3>
		<div class="sidebarMenu">
			<ul>
				<li><a id="sidebarMenu-changePassword" href="/Account/ChangePassword">{% trans %}Change password{% endtrans %}</a></li>
				<li><a id="sidebarMenu-changeProfilePhoto" href="/Account/ChangeProfilePhoto">{% trans %}Change profile photo{% endtrans %}</a></li>
			</ul>
		</div>
	</div>
{% endblock %}