{% macro book_list(books) -%}
<style>
.tooltip-content {
	display: none;
}
</style>
<script>
<!--
$(document).ready(function(){
	$(".cover a").tooltip({ 
	    track: true, 
	    delay: 0, 
	    showURL: false,
	    top: 10,
	    left: 10,
	    width: 300,
	    bodyHandler: function() {
	    	return $(".tooltip-content", $(this).parent()).html(); 
	    }
	});
});
-->
</script>
	<div class="bookGallery">
		<table>
			<tr>
				{% if books %}
					{% for book in books %}
						<td>
						<div class="book">
							<div class="cover">
								<a href="/Books/{{ book.key() }}">
									{{ corners("white5px") }}
									<img src='/Covers/Thumbnail/{{ book.getCover().key() }}'>
									{% if book.getCover().isReusable %}
										<span class="coverTitle" {% if book.getCover().TitleColor %}style="color: {{ book.getCover().TitleColor }}"{% endif %} >{{ book.Title }}</span> 
									{% endif %}
								</a>
								<div class="tooltip-content">
									<h3>{{ book.Title }}</h3>
									{% trans authorname=book.authorName() %}By {{ authorname }}{% endtrans %}
									<br />
									<em>
										{% if book.Stage=="planning" %}{% trans %}Only planning{% endtrans %}, {% endif %}
										{% if book.Stage=="drafting" %}{% trans %}Still in drafting{% endtrans %}, {% endif %}
										{% if book.Stage=="writing" %}{% trans %}Still in writing{% endtrans %}, {% endif %}
										{% if book.Stage=="proofing" %}{% trans %}Still in proofing{% endtrans %}, {% endif %}
									</em>
								</div>
							</div>
						</div>
						</td>
						{% if loop.cycle(0, 0, 0, 1)==1 %}
							</tr>
							<tr>
						{% endif %}
					{% endfor %}
				{% else %}
					<p>{% trans %}No books here!{% endtrans %}</p>
				{% endif %}
			</tr>
		</table>
	</div>
{%- endmacro %}

{% macro noticeMustSignIn(actionLabel) -%}
<style>
.notice.must-login-first {
	background: #dfe0ff;
	border-bottom: 2px solid #b8bae9;
}
.notice-message {
	margin-left: 35px;
}
.notice-icon {
	position: absolute;
	top: 6px;
	left: 10px;
}
</style>
	<div class="notice must-login-first">
		<div class="notice-icon spriteIcons icon-sign-in"></div>
		<span class="notice-message">
			{% trans action=actionLabel %}If you wish to <strong>{{ action }}</strong>, you must first <a href='/Login'>sign-in</a>.{% endtrans %}
		</span>
	</div>
{%- endmacro %}

{% macro corners(type) -%}
	<span class="corner-{{ type }}-c0"></span>
	<span class="corner-{{ type }}-c90"></span>
	<span class="corner-{{ type }}-c180"></span>
	<span class="corner-{{ type }}-c270"></span>
{%- endmacro %}

{% macro members_list(members) -%}
	<div class="memberList">
		<ul>
			{% for member in members %}
				<li>
					<div class="avatar">
						{{ corners("white5px") }}
						<a href="/Members/{{ member.key() }}"><img width="120" height="120" alt="{{ member.fullname()|e }}" src="{{ member.gravatar120() }}" /></a>
						<h3>
							<a href="/Members/{{ member.key() }}">{{ member.Firstname|e }}</a>
						</h3>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="clearfix"></div>
{%- endmacro %}

{% macro members_list_small(members, roundedCorners=True) -%}
	{% if members %}
		<style>
		.tooltip-content {
			display: none;
			z-index: 100000;
		}
		</style>
		<script>
		<!--
		$(document).ready(function(){
			$(".avatar a").tooltip({ 
			    track: true, 
			    delay: 0, 
			    showURL: false,
			    top: 10,
			    left: 10,
			    width: 300,
			    bodyHandler: function() {
			    	return $(".tooltip-content", $(this).parent()).html(); 
			    }
			});
		});
		-->
		</script>
		<div class="memberList small">
			<ul>
				{% for member in members %}
					<li>
						<div class="avatar">
							{% if roundedCorners -%}
								{{ corners("white5px") }}
							{%- endif %}
							<a href="/Members/{{ member.key() }}"><img width="50" height="50" alt="{{ member.fullname()|e }}" src="{{ member.gravatar50() }}" /></a>
							<div class="tooltip-content">
								{{ member.fullname()|e }}
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="clearfix"></div>
	{% endif %}
{%- endmacro %}

{% macro notice(title, body) -%}
	<div class="notice">
		{{ corners("white5px") }}
		<strong>{{ title }}</strong>
		{{ body }}
	</div>
{%- endmacro %}

{% macro calls_to_action() -%}
	<div class="callsToAction">
		{{ corners("white5px") }}
		<div class="linkList">
			<ul>
				{{ caller() }}
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
{%- endmacro %}

{% macro calls_to_action_editing() -%}
	<div class="callsToAction cta-editing">
		{{ corners("white5px") }}
		<div class="linkList">
			<ul>
				<li><strong>{% trans %}Editing:{% endtrans %}</strong></li>
				{{ caller() }}
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
{%- endmacro %}

{% macro iconButton(label, alt=None, url=None, name="", icon="", isDimmed=False) -%}
<button
	class="{{ name }}"
	{% if url %}onclick="document.location='{{ url }}'"{% endif %}
	{% if alt %}alt="{{ alt }}"{% endif %}>
	<span class="spriteIcons icon-{{ icon }}"></span>
	<span class="label">
		{{ label }}
	</span>
</button>
<style>
/* BUTTON */
button .spriteIcons {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

button {
	position: relative;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	height: 16px;
	background: url(/images/iconButton.png) left 0px no-repeat;
	color: #fff;
	border: 0;
	cursor: pointer;
	line-height: 16px;
}
button::-moz-focus-inner {
	border: 0 none;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
button:focus::-moz-focus-inner {
	border-color: transparent ! important;
	border: 0 none;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
button span.label {
	position: relative; 
	white-space: nowrap; 
	display: block !important;
	padding: 0px 10px 0px 20px;
	margin: 0px 0px 0px 0px;
	line-height: 16px;
	height: 16px;
	background: url(/images/iconButton.png) right 0px no-repeat;
	border: 0;
	font-size: 9px;
	font-weight: bold;
	color: #505050;
}
button:focus,
button:hover {
	background: url(/images/iconButton.png) left -16px no-repeat;
}
button:focus span.label,
button:hover span.label{
	background: url(/images/iconButton.png) right -16px no-repeat;
	color: #ffffff;
}
</style>

{%- endmacro %}

{% macro storyPost(post, hasEditRights) -%}
<div id="{{ post.key() }}" class='storyPosts-item miniMenuContext'>
	<div>
		<div style="position: absolute; top: 5px; right: 3px; z-index: 1000" class="miniMenuAnchor" id="storyPost-{{ post.key }}"></div>
		{% if post.Icon %}<span class="icon"><img src="/images/storyIcons/{{ post.Icon }}" /></span>{% endif %}
		<span class="moreLink"></span>
		<h4>
			<span class="title">{{ post.Title }}</span>
			<span class="when">{% trans timeAgo=post.WhenOccured %} {{timeAgo}} ago{% endtrans %}</span>
		</h4>
	</div>
	<div class="more">
		{% if post.Body %}
			<div class="body">
				{{ post.Body }}
				<div class="clearfix"></div>
			</div>
		{% endif %}
		<div class="replies">
			<div class="replies-list">
				{% for reply in post.getReplies() %}
					{% include "..\feathers\views\talk-part-replies.html" %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>{%- endmacro %}
