{% extends "template-main-d.html" %}
{% load i18n %}
{% block pageId %}account-changePassword{% endblock %}
{% block pageTitle %}{% trans "Change your password" %}{% endblock %}
{% block title %}
	<h1>
		{% trans "Change your password" %}
	</h1>
{% endblock %}
{% block content %}
	{% if error %}
		<div class="error">
			{{ error }}
		</div>
	{% endif %}
	<form method="post" enctype="multipart/form-data">
		<table>
			<tbody>
				<tr>
					<th>
						<label for="oldPassword">{% trans "Old password" %}</label>
					</th>
					<td>
						<input type="password" name="oldPassword" />
					<td>
				</tr>
				<tr>
					<th>
						<label for="newPassword">{% trans "New password" %}</label>
					</th>
					<td>
						<input type="password" name="newPassword" />
					<td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="submit" name="save" value="{% trans 'Save' %}" />
					<td>
				</tr>
			</tbody>
		</table>
	</form>

{% endblock %}