{% extends "template-main-d.html" %}
{% load i18n %}
{% block title %}
	<h1>
		{% trans "Book covers" %}
	</h1>
{% endblock %}
{% block content %}
	<h2>{% trans "Your private book covers" %}</h2>
	<div class="coverGallery">
		{% for cover in yourPrivateCovers %}
			<div class="cover">
				<a href='/Covers/{{ cover.key }}'>
					<img src='/Covers/Thumbnail/{{ cover.key }}'>
					{% if cover.isReusable %}
						<span class="coverTitle" {% if cover.TitleColor %}style="color: {{ cover.TitleColor }}"{% endif %} >{{ cover.SampleTitle }}</span> 
					{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
	<h2>{% trans "Your shared book covers" %}</h2>
	<div class="coverGallery">
		{% for cover in yourSharedCovers %}
			<div class="cover">
				<a href='/Covers/{{ cover.key }}'>
					<img src='/Covers/Thumbnail/{{ cover.key }}'>
					{% if cover.isReusable %}
						<span class="coverTitle" {% if cover.TitleColor %}style="color: {{ cover.TitleColor }}"{% endif %} >{{ cover.SampleTitle }}</span> 
					{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
	<h2>{% trans "All shared book covers" %}</h2>
	<div class="coverGallery">
		{% for cover in allSharedCovers %}
			<div class="cover">
				<a href='/Covers/{{ cover.key }}'>
					<img src='/Covers/Thumbnail/{{ cover.key }}'>
					{% if cover.isReusable %}
						<span class="coverTitle" {% if cover.TitleColor %}style="color: {{ cover.TitleColor }}"{% endif %} >{{ cover.SampleTitle }}</span> 
					{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block sidebar %}
	<div class="sidebarPanel">
		<h3>{% trans "Options" %}</h3>
		<div class="sidebarMenu">
			<ul>
				<li><a href="/Covers/Edit/">{% trans "Add a new cover" %}</a></li>
			</ul>
		</div>
	</div>
	<div class="sidebarPanel">
		<h3>{% trans "Admin options" %}</h3>
		<div class="sidebarMenu">
			<ul>
				<li><a href="/Covers/Select?usage=Books without a cover&redirect=/Covers/SetDefault">{% trans "Select the default cover" %}</a></li>
			</ul>
		</div>
	</div>
{% endblock %}