{% extends masterTemplate %}
{% load i18n %}
{% block title %}
	<h1>
		{% trans "Select a theme" %}
	</h1>
{% endblock %}
{% block content %}
	<p>Select the theme you want to use for "<strong>{{ themeUsage }}</strong>"</p>
	{% ifnotequal themes.count 0 %}
		<div>
			{% for theme in themes %}
				<a style="float:left; margin: 0px 10px 10px 0px" href="{{ redirect }}?selectedTheme={{ theme.key }}" title="{{ theme.Title }}">
					<img style="width: 240px; height: 180px;" alt="{{ theme.Title }}" src="/Themes/Theme/BackgroundImage/{{ theme.key }}?width=240" />
				</a>
			{% endfor %}
			<div class="clearfix"></div>
		</div>
	{% else %}
		<div>
			{% trans "Sorry, no themes have been created!" %}
		</div>
	{% endifnotequal %}
{% endblock %}
