{% extends masterTemplate %}
{% load i18n %}
{% block pageId %}labs{% endblock %}
{% block pageTitle %}{% trans "Wrook Labs" %}{% endblock %}
{% block title %}
	<h1>
		{% trans "Wrook Labs" %}
	</h1>
{% endblock %}
{% block content %}

	<h2> {% trans "About the Wrook Labs" %}</h2>
	<p>
{% blocktrans %} 
In the Wrook labs you can <strong>report bugs</strong>, <strong>suggest</strong> features
and improvement, and <strong>vote</strong> for what you believe we should do first!
{% endblocktrans %} 
	</p>

	<h2> {% trans "Feature requests and bug Submission form" %}</h2>
	<form method="post" action="/Labs/Submit">
		<table>
			<tbody>
				<tr>
					<th>
						<label for="Type">{% trans "Request type" %}</label>
					</th>
					<td>
						<select name="Type">
							<option selected="selected" value="newfeature">{% trans "New feature" %}</option>
							<option value="improvement">{% trans "Improvement" %}</option>
							<option value="bugfix">{% trans "Bug fix" %}</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>
						<label for="Title">{% trans "Title" %}</label>
					</th>
					<td>
						<input type="text" name="Title" />
					</td>
				</tr>
				<tr>
					<th>
						<label for="Description">{% trans "Description" %}</label>
					</th>
					<td>
						<textarea name="Description" style="height: 60px"></textarea><br/>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="submit" name="submit" value="{% trans "Submit" %}" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<h2 style="text-align: left;">
		{% trans "Your votes" %}
	</h2>
	<p>
		{% blocktrans %}You have {{ memberVotesLeft }} votes left{% endblocktrans %}
	</p>
	{% ifnotequal yourVotes.count 0 %}
		<table width="50%">
			<thead>
				<tr>
					<th>
						{% trans "Description" %}
					</th>
					<th>
						{% trans "Votes" %}
					</th>
			</thead>
			<tbody>
				{% for vote in yourVotes %}
					<tr>
						<td>
							<h4>
								{% if vote.isDone %}<del>{% endif %}
									<a href="/Labs/Feature/View/{{ vote.Feature.key }}">{{ vote.Feature.Type }}: {{ vote.Feature.Title }}</a>
								{% if vote.isDone %}</del>{% endif %}
							</h4>
						</td>
						<td>
							{% if vote.isDone %}<del>{% endif %}
								{% if vote.Feature.VoteCount %}
									{{ vote.Feature.VoteCount }}
								{% else %}
									0
								{% endif %}
							{% if vote.isDone %}</del>{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div>
			{% trans "It seems that you havent voted for anything yet!" %}
		</div>
	{% endifnotequal %}



	<h2 style="text-align: left;">{% trans "Requests open for voting" %}</h2>
	{% ifnotequal features.count 0 %}
		<table>
			<thead>
				<tr>
					<th>
						{% trans "Description" %}
					</th>
					<th>
						{% trans "Votes" %}
					</th>
			</thead>
			<tbody>
				{% for feature in features %}
					<tr>
						<td>
							<h4>
								{% if feature.isDone %}<del>{% endif %}
									<a href="/Labs/Feature/View/{{ feature.key }}">{{ feature.Type }}: {{ feature.Title }}</a>
								{% if feature.isDone %}</del>{% endif %}
							</h4>
						</td>
						<td rowspan="2">
							{{ feature.VoteCount }}
						</td>
					</tr>
					<tr>
						<td>
							{{ feature.markdownDescription }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div>
			{% trans "Sorry, nothing is currently cooking in the labs!" %}
		</div>
	{% endifnotequal %}



	<h2 style="text-align: left;">{% trans "Requests completed" %}</h2>
	{% ifnotequal completedFeatures.count 0 %}
		<table>
			<thead>
				<tr>
					<th>
						{% trans "Description" %}
					</th>
					<th>
						{% trans "Votes" %}
					</th>
			</thead>
			<tbody>
				{% for feature in completedFeatures %}
					<tr>
						<td>
							<h4>
								<a href="/Labs/Feature/View/{{ feature.key }}">{{ feature.Type }}: {{ feature.Title }}</a>
							</h4>
						</td>
						<td>
							{{ feature.VoteCount }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div>
			{% trans "Sorry, nothing is currently cooking in the labs!" %}
		</div>
	{% endifnotequal %}

{% endblock %}


{% block sidebar %}
	{% if currentMember.isAdmin %}
		<div class="sidebarPanel">
			<h3>{% trans "Options" %}</h3>
			<div class="sidebarMenu">
				<ul>
					<li><a href="/Admin/Commands">{% trans "Admin commands" %}</a></li>
				</ul>
			</div>
		</div>
	{% endif %}


{% endblock %}
