<div class="sidebarPanel">
	<h3>{% trans %}More About Licensing{% endtrans %}</h3>
	<div class="sidebarMenu">
		<ul>
			<li><a id="menu-aboutWrookLicensing"  href="/About/OpenSourceLicense">{% trans %}About Wrook's Licensing{% endtrans %}</a></li>
			<li><a id="menu-openSourceAttribution" href="/About/OpenSourceAttribution">{% trans %}Attribution to Wrook{% endtrans %}</a></li>
			<li><a id="menu-CPAL10License" href="/About/CPAL">{% trans %}CPAL 1.0 License{% endtrans %}</a></li>
		</ul>
	</div>
</div>
