html, div, table, tr, td, th, ul, ol, li {
	font-size: 12px; /* To prevent OS Screen DPI settings to affect the layout */
}

body {
	text-align: center;
	background: #000;
	font-family: Tahoma, Sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}

h1 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	font-size: 1.7em;
	color: #000;
	clear: left;
}

h2 {
	padding: 10px 0px 10px 0px;
	margin: 0px;
	font-size: 1.4em;
	color: #000000;
	font-weight: normal;
	clear: left;
}

h3 {
	clear: left;
}

table tbody tr th {
	text-align: right;
	font-size: 0.9em;
	background: #EEEEEE;
	padding: 6px 7px 5px 7px;
	width: 30%;
}

table thead tr th {
	text-align: left;
	font-size: 0.9em;
	background: #EEEEEE;
	padding: 6px 7px 5px 7px;
}

table tr td {
	padding: 5px 5px 5px 5px;
}

#page {
	color: #ffffff;
	margin: 0px auto;
	width: 980px;
	min-height: 760px;
	position: relative;
	text-align: left;
}

#page .header {
	position: relative;
	height: 60px;
}

#page {
	position: relative;
	width: 980px;
	padding: 0px;
}
#page-http500 #pageInner {
	background: #0000CC !important;
}
#page-http500 #wallpaper{
	display: none;
}

#wallpaper {
	position: absolute;
	width: 980px;
	top: 60px;
	left: 50%;
	margin-left: -490px;
}
#wallpaper img {
	width: 980px;
}
#wallpaper #shadow {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 980px;
	background: url(/images/page-top.png) 0px 0px no-repeat;
	height: 19px;
}
#wallpaper .bgFade {
	position: relative;
	margin-top: -150px;
	left: 0px;
	height: 300px;
	width: 100%;
	background: url(/images/wallpaper-ending.png) 0px 0px repeat-x;
}


#footer {
	position: relative;
	text-align: left;
	width: 980px;
	padding: 10px auto 100px auto;
	background: #000;
	color: #000000;
	clear: both;
}
#footerContent {
	margin: 0px auto;
}


#nav {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 800px;
	z-index: 1500;
}

#nav #mainMenu {
	position: absolute;
	left: 0px;
	bottom: 5px;
}

#nav #mainMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#nav #mainMenu ul li {
	list-style: none;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	display: inline;
}

#nav #mainMenu ul li a:visited,
#nav #mainMenu ul li a:link {
	color: #ffffff;
	font-size: 1.4em;
	text-decoration: none;
}
#nav #mainMenu ul li a:hover {
	text-decoration: underline;
}


#nav #accessMenu {
	position: absolute;
	right: 0px;
	bottom: 5px;
}

#nav #accessMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#nav #accessMenu ul li {
	list-style: none;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	display: inline;
}

#nav #accessMenu ul li a:visited,
#nav #accessMenu ul li a:link {
	color: #ffffff;
	font-size: 1.25em;
	text-decoration: none;
}
#nav #accessMenu ul li a:hover {
	text-decoration: underline;
}


#memberAvatar {
	position: relative;
	height: 180px;
	width: 180px;
	margin-left: 10px;
}
#memberName {
	position: absolute;
	top: 16px;
	left: 90px;
	font-size: 1.7em;
}
#memberName a:visited,
#memberName a:link {
	color: #fff;
	text-decoration: none;
}

#header {
	height: 60px;
}

#headerContent {
	position: relative;
	text-align: left;
	width: 590px;
	margin: 0px;
	height: 72px;
	left: 92px;
	background: url(/images/background50black.png);
}

#header #logo {
	position: absolute;
	display: block;
	left: 730px;
	top: 0px;
	width: 262px;
	height: 57px;
	overflow: hidden;
}
#header #logo a:visited,
#header #logo a:link {
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	width: 262px;
	height: 57px;
	background: url(/images/logo-smoke.png) no-repeat;
	text-indent: -1000px;
	z-index: 1000;
	border: none;
}
#header #logo a:hover {
	background-position: 0px -57px;	
}

#pageFooter {
	clear: both;
	height: 1px;
	position: relative;
}



.sectionMenu {
	position: absolute;
	left: 12px;
	bottom: 0px;
}

.sectionMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 1.1em;
}

.sectionMenu ul li{
	display: inline;
	float: left;
	list-style: none;
	margin: 0px 5px 0px 5px;
	padding: 0px 0px 0px 0px;
	text-indent: 0px;
	font-size: 1.1em;
}

.sectionMenu ul li a:visited,
.sectionMenu ul li a:link {
	display: block;
	position: relative;
	left: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 5px 0px 0px;
	color: #fff;
	text-decoration: none;
}
.sectionMenu ul li a span {
	display: block;
	position: relative;
	left: 10px;
	margin: 0px 0px 0px 0px;
	padding: 4px 8px 4px 0px;
}

.sectionMenu ul li.current,
.sectionMenu ul li a:hover {
	background: url(/images/content-block-body-bg.png) top left no-repeat;
}
.sectionMenu ul li.current a span,
.sectionMenu ul li a:hover span {
	background: url(/images/content-block-body-bg.png) top right no-repeat;
	color: #000;
}
.sectionMenu ul li.current a span {
	padding: 8px 16px 0px 0px;
}

.notice {
	padding: 10px;
	background: #f7f561;
	position: relative;
	margin-bottom: 5px;
	border-collapse: separate;
}

.callsToAction {
	margin: 10px 0px 0px 0px;
	padding: 10px;
	background: #dddddd;
	position: relative;
}

.callsToAction.cta-editing {
	margin: 10px 0px 0px 0px;
	padding: 3px;
	background: #cec;
	position: relative;
}

.sidebarNotice,
.genericNotice,
.stageNotice {
	width: 540px;
	padding: 3px 5px 3px;
	background: #FFFFDD;
	border: 1px solid #999966;
	position: relative;
	top: -10px;
	left: -5px;
	margin-bottom: 5px;
}
.sidebarNotice {
	width: 100%;
}

#bookPage {
	background: #dbdbdb;
	width: 550px;
	margin-bottom: 20px;
}
#bookPageInner {
	position: relative;
	top: -5px;
	left: -5px;
	width: 550px;
	border: 1px solid #b5b5b5;
	background: #ffffff;
	min-height: 400px;
}

#pageContent {
	color: #000000;
	margin-left: 30px;
	padding:48px 30px 30px 25px;
	position:relative;
	top:10px;
	width:700px;
}


.contentBlock {
	position: relative;
	width: 860px;
}
.contentBlock .blockHeader {
	position: relative;
	background: url(/images/content-block-bg.png) top left no-repeat;
	min-height: 10px;
}

.contentBlock .blockHeader.withSectionMenu {
	height: 70px;
}


.contentBlock .blockContent {
	position: relative;
	padding: 0px 0px 0px 10px;
	background: url(/images/background50black.png);
}

.contentBlock .blockContent .blockBody {
	position: relative;
	width: 650px;
}
.contentBlock .blockContent .blockBody .top {
	position: relative;
	background: url(/images/content-block-body-bg.png) top left no-repeat;
	min-height: 1px;
	padding: 10px  10px 0px  10px;
	border-bottom: 1px solid #fff;
}
.contentBlock .blockContent .blockBody .middle {
	position: relative;
	background: #fff;
	padding: 0px 10px 0px 20px;
	border: 1px solid #fff;
}
.contentBlock .blockContent .blockBody .bottom {
	position: relative;
	background: url(/images/content-block-body-bg.png) bottom left no-repeat;
	min-height: 1px;
	padding: 0px  10px 10px  10px;
	border-top: 1px solid #fff;
}

.contentBlock .blockFooter {
	background: url(/images/content-block-bg.png) bottom left no-repeat;
	min-height: 10px;
}

.contentBlock .sidebar {
	position: absolute;
	width: 200px;
	top: 0px;
	right: 0px;
}

.contentBlock .sidebar-content {
}

.contentBlock .sidebar-footer {
}


.contentBlock .blockHeader h1 {
	width: 650px;
	margin: 0px;
	padding: 10px 0px 5px 15px;
	color: #FFFFFF;
	font-size: 1.8em;
	min-height: 24px;
	font-weight: normal;
}
.contentBlock .blockHeader h1 a:visited,
.contentBlock .blockHeader h1 a:link {
	color: #ffffff;
	text-decoration: none;
}






.section {
	position: relative;
	background: url(../images/pageSection-shadow.png) no-repeat;
	width: 712px;
}

.sectionHeader.withProfileMenu {
	background: url(../images/pageSection-shadow.png) no-repeat;
}

.sectionHeader.withProfileMenu {
	position: relative;
	padding-left: 65px;
	height: 60px;
}
.sectionHeader h1 {
	font-family: courier new, courier, serif;
	color: #FFFFFF;
	font-size: 1.8em;
	padding: 10px 0px 0px 10px;
	min-height: 24px;
	font-weight: bold;
	width: 580px;
}

.sectionHeader h1 a:visited,
.sectionHeader h1 a:link {
	color: #FFFFFF;
	text-decoration: none;
}

.sectionBody {
	position: relative;
	margin: 10px 10px 0px 10px;
	background: #fff;
	color: #000;
}
.sectionBodyContent {
	position: relative;
	padding: 10px 20px 10px 20px;
}
.sectionBodyFooter {
	padding: 5px 0px 5px 10px;
	margin: 0px 10px 0px 10px;
	background: #e6e6e6;
	color: #000;
	min-height: 24px;
}

.sectionFooter {
	background: url(../images/pageSection-shadow.png) bottom left no-repeat;
	width: 712px;
	height: 10px;
	margin-bottom: 20px;
}


#pageContent .chapterInfo{
	text-align: center;
}

#bookPage .chapterInfo .bookTitle {
	position: absolute;
	top: 10px;
	left: 20px;
	color: #888888;
}
#bookPage .chapterNumber {
	margin-top: 40px;
}

#bookPage .chapterInfo .authorName {
	position: absolute;
	top: 10px;
	right: 20px;
	text-decoration: none;
}

#bookPage .chapterInfo .bookTitle a:visited,
#bookPage .chapterInfo .bookTitle a:link,
#bookPage .chapterInfo .authorName a:link,
#bookPage .chapterInfo .authorName a:visited {
	color: #888888;
	text-decoration: none;
}

#bookPage .authorName a {
	color: #000;
	text-decoration: none;
}

#bookPage .chapterText {
	text-align: left;
	font-size: 1.1em;
	padding: 20px;
}

.synopsis {
	font-size: 1.2em;
	color: #666666;
}

#bookPage .h1 {
	margin-top: 40px;
}


#bookSide {
	width: 280px;
	padding-left: 20px;
}


#bookSide ul {
	list-style: none;
	text-indent: 0;
	margin: 0px;
	padding: 0px;
}

#bookSide ul li {
	text-indent: 0;
	margin: 0px;
	padding: 0px;
}

.columnOneThird {
	float: left;
	width: 280px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.columnTwoThird {
	float: left;
	width: 550px;
	margin: 0px;
	padding: 0px;
}


#siteBar {
	position: relative;
	background: #000000;
	color: #FFFFFF;
	height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
}

#siteBarContent {
	position: relative;
	margin: 0px 0px 0px 200px;
}

#currentMemberAvatar {
	margin-left: 5px;
}


#sidebar {
	width: 200px;
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: visible;
}


#sidebar-content {
	background: url(/images/logoAndBackground.png) 0px -93px no-repeat;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
#sidebar-footer {
	height: 150px;
	background: url(/images/logoAndBackground.png) left bottom no-repeat;
}

.sidebarPanel {
	color: #fff;
	padding: 10px 0px 15px 0px;
}
.panelContent {
	margin: 0px 10px 0px 10px;
}

.sidebarPanel h3 {
	text-align: left;
	margin: 0px;
	padding: 0px 10px 10px 36px;
	font-size: 1.2em;
	text-transform: uppercase;
}
.sidebarPanel a:visited,
.sidebarPanel a:link {
	text-align: left;
	color: #fff;
}

.sidebar a:visited,
.sidebar a:link {
	text-align: left;
	color: #fff;
	text-decoration: none;
}
.sidebar a strong {
	font-weight: bold;
	text-decoration: underline;
}


.sidebarMenu ul {
	text-align: left;
	list-style: none;
	margin: 0px;
	padding: 0xp;
}
.sidebarMenu ul li{
	position: relative;
	list-style: none;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

.sidebarMenu a:visited,
.sidebarMenu a:link {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	padding: 4px 10px 4px 36px;
}
.sidebarMenu a:hover {
	background: #000;
}
.sidebarMenu .spriteIcons,
.sidebarMenu .icon {
	position: absolute;
	left: 10px;
	top: 0px;
}




#halfBakedLogo {
	position: absolute;
	top: 45px;
	left: 950px;
	z-index: 2000;
}

#halfBakedLogo a {
	display: block;
	width: 82px;
	height: 83px;
	background: url(/images/half-baked-small.png) no-repeat;
}


#secondarySidebar {
	padding: 10px;
	position: absolute;
	right: 58px;
	top: 82px;
	width: 220px;
	background: url(/images/background50black.png);
}
#secondarySidebar a:visited,
#secondarySidebar a:visited {
	color: #fff;
	font-weight: bold;
}

#secondarySidebar h3 {
	font-size: 1.5em;
	font-weight: normal;
}








.section-member-profile .sidebar {
	left: 0px;
	top: -60px;
	z-index: 5000;
}
.section-member-profile .sidebar h1 {
	padding-left: 15px;
}
.section-member-profile .blockHeader {
	padding-left: 190px;
}
.section-member-profile .blockBody {
	padding-left: 190px;
}
.section-member-profile .sectionMenu {
	top: 2px;
	position: relative;
}
