html, div, table, tr, td, th, ul, ol, li {
	font-size: 12px; /* To prevent OS Screen DPI settings to affect the layout */
}

body {
	text-align: left;
	background: #000000;
	font-family: Tahoma, Sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}

h1 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-size: 1.7em;
	color: #000;
	clear: both;
}

h2 {
	margin: 10px 0px 10px 0px;
	padding: 0px;
	font-size: 1.4em;
	color: #000000;
	clear: both;
	font-weight: normal;
}

h3 {
}

table tbody tr th {
	text-align: right;
	font-size: 0.9em;
	background: #EEEEEE;
	padding: 6px 7px 5px 7px;
	width: 30%;
}

table thead tr th {
	text-align: left;
	font-size: 0.9em;
	background: #EEEEEE;
	padding: 6px 7px 5px 7px;
}

table tr td {
	padding: 5px 5px 5px 5px;
}

#page {
	color: #ffffff;
	width: 1204px;
	min-height: 1024px;
	position: relative;
	background: #000000;
}


#pageInner {
	position: relative;
	width: 1204px;
	padding: 0px;
}



#footer {
	position: relative;
	text-align: left;
	width: 1024px;
	padding: 10px auto 100px auto;
	background: #000;
	color: #000000;
	clear: both;
}
#footerContent {
	margin: 0px auto;
}


#memberAvatar {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 50px;
	background: #000;
}
#memberName {
	position: absolute;
	top: 16px;
	left: 90px;
	font-size: 1.7em;
}
#memberName a:visited,
#memberName a:link {
	color: #fff;
	text-decoration: none;
}

#header {
}

#headerContent {
	position: relative;
	text-align: left;
	width: 590px;
	margin: 0px;
	height: 72px;
	left: 92px;
	background: url(/images/background50black.png);
}


#pageFooter {
	clear: both;
	height: 1px;
	position: relative;
}



.sectionMenu {
	position: absolute;
	left: 68px;
	top: 40px;
}

.sectionMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 1.1em;
}

.sectionMenu ul li{
	display: inline;
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	font-size: 1.1em;
}

.sectionMenu ul li a:visited,
.sectionMenu ul li a:link {
	display: block;
	margin: 0px 5px 0px 0px;
	padding: 2px 8px 2px 8px;
	color: #fff;
	text-decoration: none;
}

.sectionMenu ul li a:hover {
	background: #000;
}

.notice {
	padding: 10px;
	background: #f7f561;
	position: relative;
	margin-bottom: 5px;
}

.sidebarNotice,
.genericNotice,
.stageNotice {
	width: 540px;
	padding: 3px 5px 3px;
	background: #FFFFDD;
	border: 1px solid #999966;
	position: relative;
	top: -10px;
	left: -5px;
	margin-bottom: 5px;
}
.sidebarNotice {
	width: 100%;
}

#bookPage {
	background: #dbdbdb;
	width: 550px;
	margin-bottom: 20px;
}
#bookPageInner {
	position: relative;
	top: -5px;
	left: -5px;
	width: 550px;
	border: 1px solid #b5b5b5;
	background: #ffffff;
	min-height: 400px;
}

#pageContent {
	position: relative;
	top: 10px;
	margin-left: 210px;
	padding: 10px;
	width: 980px;

}

.section {
	position: relative;
	background: url(../images/pageSection-shadow.png) no-repeat;
	width: 712px;
}

.sectionHeader.withProfileMenu {
	position: relative;
	padding-left: 65px;
	height: 60px;
}
.sectionHeader h1 {
	color: #FFFFFF;
	font-size: 2em;
	padding: 10px 0px 0px 10px;
	height: 24px;
}

.sectionHeader h1 a:visited,
.sectionHeader h1 a:link {
	color: #FFFFFF;
	text-decoration: none;
}

.sectionBody {
	position: relative;
	margin: 10px 10px 0px 10px;
	background: #fff;
	color: #000;
}
.sectionBodyContent {
	position: relative;
	padding: 10px 20px 10px 20px;
}

.sectionFooter {
	background: url(../images/pageSection-shadow.png) bottom left no-repeat;
	width: 712px;
	height: 10px;
	margin-bottom: 20px;
}


#pageContent .chapterInfo{
	text-align: center;
}

#bookPage .chapterInfo .bookTitle {
	position: absolute;
	top: 10px;
	left: 20px;
	color: #888888;
}
#bookPage .chapterNumber {
	margin-top: 40px;
}

#bookPage .chapterInfo .authorName {
	position: absolute;
	top: 10px;
	right: 20px;
	text-decoration: none;
}

#bookPage .chapterInfo .bookTitle a:visited,
#bookPage .chapterInfo .bookTitle a:link,
#bookPage .chapterInfo .authorName a:link,
#bookPage .chapterInfo .authorName a:visited {
	color: #888888;
	text-decoration: none;
}

#bookPage .authorName a {
	color: #000;
	text-decoration: none;
}

#bookPage .chapterText {
	text-align: left;
	font-size: 1.1em;
	padding: 20px;
}

#bookPage .Synopsis {
	font-size: 1em;
	color: #666666;
}
#bookPage .h1 {
	margin-top: 40px;
}


#bookSide {
	width: 280px;
	padding-left: 20px;
}


#bookSide ul {
	list-style: none;
	text-indent: 0;
	margin: 0px;
	padding: 0px;
}

#bookSide ul li {
	text-indent: 0;
	margin: 0px;
	padding: 0px;
}

.columnOneThird {
	float: left;
	width: 280px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.columnTwoThird {
	float: left;
	width: 550px;
	margin: 0px;
	padding: 0px;
}


#siteBar {
	position: relative;
	background: #000000;
	color: #FFFFFF;
	height: 50px;
}

#siteBarContent {
	position: relative;
	width: 840px;
	margin: 0px auto;
}

#currentMemberAvatar {
	position: absolute;
	top: 10px;
	left: 10em;
}

#siteName {
	position: absolute;
	font-family: courier new, courier, serif;
	font-size: 3em;
	font-weight: bold;
	top: 10px;
	left: 0px;
}
#siteName a:visited,
#siteName a:link {
	text-decoration: none;
	color: #FFFFFF;
}
#siteName.withAvatar {
	left: 40px;
}

ul#siteMenu {
	position: absolute;
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: left;
	top: 26px;
	left: 8em;
	font-size: 1.2em;
}
ul.withAvatar#siteMenu {
	left: 10em;
}
ul#siteMenu li {
	position: relative;
	display: block;
	float: left;
	margin-right: 0px 0px 9px 0px;
	font-size: 1em;
}
ul#siteMenu li a:visited,
ul#siteMenu li a:link {
	color: #ffffff;
	position: relative;
	display: block;
	float: left;
	text-decoration: none;
}

#sidebar {
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.sidebarPanel {
	background: url(/images/background50black.png);
	margin: 0px 0px 20px 0px;
	color: #fff;
	padding: 10px 10px 10px 10px;
}
.sidebarPanel h3 {
	text-align: right;
	margin: 0px;
	padding: 0px 30px 10px 0px;
	font-size: 1.2em;
	text-transform: uppercase;
}
.sidebarPanel a:visited,
.sidebarPanel a:link {
	text-align: right;
	color: #fff;
}

.sidebarMenu ul {
	text-align: right;
	list-style: none;
	margin: 0px;
	padding: 0xp;
}
.sidebarMenu ul li{
	list-style: none;
	margin: 0px;
	padding: 0px 26px 0px 0px;
}

.sidebarMenu a:visited,
.sidebarMenu a:link {
	display: block;
	color: #a6a6a6;
	text-decoration: none;
	padding: 4px 0px 4px 0px;
}
.sidebarMenu a:hover {
	background: #000;
}




#halfBakedLogo {
	position: absolute;
	top: 20px;
	right: -20px;
	z-index: 1000;
}

#halfBakedLogo a {
	display: block;
	width: 82px;
	height: 83px;
	background: url(/images/half-baked-small.png) no-repeat;
}


#secondarySidebar {
	padding: 10px;
	position: absolute;
	right: 10px;
	top: 44px;
	width: 220px;
	background: url(/images/background50black.png);
}
#secondarySidebar a:visited,
#secondarySidebar a:visited {
	color: #fff;
	font-weight: bold;
}

#secondarySidebar h3 {
	font-size: 1.5em;
	font-weight: normal;
}
